{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<article class="msh_product_picture f24">
	<section class="shopping_header_signs">
		<span></span>
	</section>
	<div class="purchase_package_list">
		<ul class="goods_list" id="list"></ul>
		<div class="select_checkbox_box">
        <input type="checkbox" name="" value="" id="" class="sigle_checkbox checkall ">
        <label for="">全选</label>
        <a href="javascript:void(0);" class="detele_order goodsDel detele_carts">删除</a>
    </div>
	</div>
	<section id="no_data">
		<div class="order_data_null">
			<p>暂无数据</p>
			<p>注：采购车里超过7天未结算的商品会被系统自动清理</p>
		</div>
	</section>
	
</article>
{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/paging.js"></script>

<script type="text/javascript">
	var config = {
		url:module+'Cart/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,

	};
	var postData = {
		pageSize:10,
		pageType:'index'
	};
	$(function(){
		//初始化分类商品页面
		$('.nav_menu li:eq(0)').addClass('current');
		postData.category_id = $('.nav_menu li.current').data('category-id');
		getPagingList(config,postData);

		$('body').on('click','.nav_menu li',function(){
			var _this = $(this);
			$(this).addClass('current').siblings().removeClass('current');
			config = {
				url:module+'Goods/getList',
				requestEnd:false,
				loadTrigger:false,
				currentPage:1,
			};
			postData.category_id = _this.data('category-id');
			getPagingList(config,postData);
		})

		//下拉加载
		var offsetHeight=$('.nav_menu').offset().top;
		$(window).on('scroll',function(){
			if(config.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config.loadTrigger = false;
				postData.category_id = $('.nav_menu li.current').data('category-id');
				getPagingList(config,postData);
			}
			//滚动
			var top = $(document).scrollTop();
			var currentId = '';
			var top=$(document).scrollTop();
			if(top>offsetHeight){
				$('.nav_menu').addClass('top-fixed');
			}else {
				$('.nav_menu').removeClass('top-fixed');
			}
		});
	});
</script>
{/block}