{extend name="template/base_pc.html" /}
{block name="css-customize"}
    <link rel="stylesheet" type="text/css" href="public_hui_admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="public_hui_admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="public_hui_admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="public_hui_admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="public_hui_admin/static/h-ui.admin/css/style.css" />
{/block}
{block name="content"}
<div id="maxImg" style="display: none;">
	<img class="max-img" src="" alt="">
</div>
<div>
	<select name="" id="" class="select">
		<option value="" name="auth_status">请选择</option>
		<option value="0" name="auth_status">待审核</option>
		<option value="1" name="auth_status">通过</option>
		<option value="2" name="auth_status">未通过</option>
	</select>
	<input type="hidden" value="" name="auth_status" class="auth_status">
</div>
<form name="form1" id="form1">
	<div class="columns_flex search-row-flex">
		<input type="text" class="input-filed keyword" name="keyword" placeholder="按产商名搜索"/>
		<input type="button" value="搜索" class="layer-search-btn search"/>
	</div>
</form>
<div class="mt-20" id="list"></div>
{/block}
{block name="footer"}{/block}
{block name="script"}

<script type="text/javascript">
  $(function () {
	  // 选择状态
	  $('body').on('change', '.select', function () {
		  getPage();
	  })
	  //获取列表
	  getPage();
	  //搜索
	  $('body').on('click', '.search', function () {
		  getPage();
	  })
	  //审核操作
	  $('body').on('click', '.audit', function () {
		  var _this = $(this);
		  var postData = {};
		  postData.id=_this.parents('tr').data('id');
		  postData.auth_status = _this.data('auth_status');
		  layer.open({
			  content :'是否操作',
			  btn:['确定','取消'],
			  end : function(){

			  },
			  yes:function(index){
				  $.ajax({
					  url: controller+'audit',
					  type: 'post',
					  dataType: 'json',
					  data: postData ,
					  beforeSend:function(){
						  //some js code
					  },
					  success: function(data){
						  if(!data.status){
							  dialog.error(data.info);
							  return false;
						  }
						  dialog.success(data.info);
					  },
					  error: function(data){

					  }
				  });
				  layer.close(index)
			  }
		  })
	  })
  })
  //获取商品列表
  function getPage(currentPage) {
	  $("#list").html($('#loading').html());
	  var url = module+'Store/getList';
	  var postData = $('#form1').serializeObject();
	  var options=$(".select option:selected"); //获取选中的项
	  var auth_status =  options.val();
	  if(auth_status){
		  postData.auth_status = options.val(); //拿到选中项的值
	  }
	  postData.page = currentPage ? currentPage : 1;
	  postData.pageSize = 2;
	  $.get(url, postData , function(data){
		  $('#list').html(data);
	  });
  }
</script>
{/block}