{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<article class="f24 ">
    <section class="header_title separation-line">
		<a href="javascript:void(0);" class="back_prev_page" data-jump_url="{:url('Mine/index')}"></a>
		<h2 class="f24">消息中心</h2>
	</section>
	<section class="">
		<ul class="message_list">
			<li class="no_data">
				<img src="public_img/no-news.png" alt="">
			</li>
			<div style="display:none;">
			<li>
				<img src="public_img/logistics.png" alt="" class="left logistics">
				<div class="msg_r">
					<p class="columns_flex l-r-sides">
						<span>物流消息</span>
						<span>2019-1-5</span>
					</p>
					<p>已签收，您在南极星家居专营店购买的商品...</p>
				</div>
			</li>
			<li>
				<img src="public_img/notice.png" alt="" class="left">
				<div class="msg_r">
					<p class="columns_flex l-r-sides">
						<span>通知消息</span>
						<span>2019-1-5</span>
					</p>
					<p>已签收，您在南极星家居专营店购买的商品...</p>
				</div>
			</li>
			<li>
				<img src="public_img/interaction.png" alt="" class="left">
				<div class="msg_r">
					<p class="columns_flex l-r-sides">
						<span>互动消息</span>
						<span>2019-1-5</span>
					</p>
					<p>已签收，您在南极星家居专营店购买的商品...</p>
				</div>
			</li>
			</div>
		</ul>
	</section>
</article>

{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
{/block}