@charset "utf-8";
/* 你自己的样式 */
/*订单客服售前*/
ul,li{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.layui-m-layerchild.chatLayer{
    background:#f2f2f2;
}
.chat_content_wrapper{
    /*padding-top:1rem;*/
}
.chat_item.hide{
    display:none;
}
.chatMsg-ct li{
    padding:0.10rem 0.15rem;
    margin:0 0 .15rem 0;
    border:none;
    background:none;
}
.chatMsg-ct li.others{
    margin-bottom:0.35rem;
}
.avatar{
    position:relative;
    max-width:40px;
}
.avatar img{
    width:100%;
}
.avatar .news_num{
    position: absolute;
    top: -0.15rem;
    right: -0.12rem;
    /*border: 1px solid #ff0000;*/
    border-radius: 100%;
    width: 50%;
    background: #ff0000;
    color: #fff;
    text-align: center;
}
.customer_sidebar a span{
    position: absolute;
    top: 0.15rem;
    right:0.12rem;
    /*border: 1px solid #ff0000;*/
   
    font-size:0.24rem;
}
.customer_sidebar a span.news_num{
    width:50%;
    right:-0.10rem;
    top:-0.12rem;
    background:#ff0000;
    color:#fff;
    border-radius:100%;
}
.chat_item .content{
    margin:0 0 0 0.20rem;
    background:#fff;
    border-radius:5px;
    color:#333;
    padding:0.08rem;
}
.chat_item .me .content{
    margin:0 0.20rem 0 0; 
    background:#22AC38;   
}
.chat_list.new_msg{
    border-color:#ff0000;
}
.customer_btn.twinkle{
    -webkit-animation:twinkling 1s infinite ease-in-out
}
@-webkit-keyframes twinkling{    /*透明度由0到1*/
    0%{
        opacity:0; /*透明度为0*/
        }
    100%{
        opacity:1; /*透明度为1*/

    }
}
.others,
.me,
.chat_list,
.time{
    display:flex;
}
.me{
    flex-direction:row-reverse;
}
.me .author{
    text-align:right;
}
.time{
    justify-content: center;
}
.content .msg{
    
}
.chat_list{
    position:relative;
}
.chat_list .detele_chat{
    position:absolute;
    right:0.15rem;
    color:#ff0000;
}
.chat_list li{
    padding:15px;
}
.bottom_flex{
    display:flex;
    display:-webkit-flex;
    justify-content: space-between;
    padding:0.15rem 0;
}
.bottom_flex .send_out_text{
    width:85%;
    padding:0.12rem 0;
    text-indent:0.12rem;
}
.bottom_flex .send_btn{
    width:15%;
}
.chatLayerContainer {
    display: none;
}
.chat_content_wrapper{
    width:800px;
    border:1px solid #d9d9d9;
}
.chat_left{
    width:200px;
    border-right:1px solid #d9d9d9;
}
.left_top{
    background: #EA5149;
    color:#fff;
}