{extend name="template/admin_pc/page_base_admin.html" /}
{block name="css-customize"}
    <link type="text/css" rel="stylesheet" href="public_admin_common_css/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="public_admin_common_css/skin.css" />
{/block}
{block name="content"}
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:url('manage')}" ><span>管理</span></a></li>
                    <li><a href="{:url('edit')}" class="current"><span>编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div style="margin-top:15px;">
            <form id="form1">
                <input type="hidden" name="id" value="{$info.id}">
                <table id=table18 class="add_new_merchandise" border=0 cellspacing=1 width="100%" height=57>
                    <tbody>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>项目名称：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <div class= width="89%" align=left>
                                <textarea class="project_description" name="name" >{$info.name}</textarea>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>排序：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <input style="width: 100px; " class="inputboxadmin" name="sort" value="{$info.sort}">
                        </td>
                    </tr>

                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>项目简介：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <div class= width="89%" align=left>
                                <textarea class="project_description" name="intro" >{$info.intro}</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>标签：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <input style="width: 200px; " class="inputboxadmin" name="tag" value="{$info.tag}">
                            多个标签请用逗号分隔，例如：正品保障,纳晶水光
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>缩略图：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <p class="f20 picture-tipc-box"><span class="friend-tipc">*注意</span>：必须上传图片(格式为jpg、jpeg、png、gif)</p>
                                <div class="upload-picture-module f24">
                                    <div>
                                        <div class="picture-module">
                                            <input type="file" class="uploadImg uploadSingleImg" name="">
                                             {empty name="info.thumb_img"}
                                            <img class="upload_img" src="">
                                            {else /}
                                            <img class="upload_img " src="public_uploads/{$info.thumb_img}" />
                                            {/empty}
                                            <input type="hidden" class="layer-thumbnail-picture img" value="{$info.thumb_img}" name="thumb_img"/>
                                        </div>
                                        <!--<p>企业营业执照</p>-->
                                    </div>
                                </div>
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>广告图：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <p class="f20 picture-tipc-box"><span class="friend-tipc">*注意</span>：必须上传图片(格式为jpg、jpeg、png、gif)</p>
                            <div class="upload-picture-module f24">
                                <div>
                                    <div class="picture-module">
                                        <input type="file" class="uploadImg uploadSingleImg" name="">
                                        {empty name="info.thumb_img"}
                                        <img class="upload_img" src="">
                                        {else /}
                                        <img class="upload_img " src="public_uploads/{$info.main_img}" />
                                        {/empty}
                                        <input type="hidden" class="layer-thumbnail-picture img" value="{$info.main_img}" name="main_img"/>
                                    </div>
                                    <!--<p>企业营业执照</p>-->
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>详情图:</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <!-- 加载编辑器的容器 -->
                            <script id="detail_img" type="text/plain">
                                
                            </script>
                            <input id="detailImg" type="hidden" value="{$info.detail_img|formatImg}">
                        </td>
                    </tr>
                    <tr>
                        <td width="11%"></td>
                        <td height=60 width="50%" align=center>
                            <a href='javascript:void(0);'><input class="button_save_black_4" value="确定" type="button"></a>
                            &nbsp;&nbsp;
                            <input class="button_save_black" name="add0" value="返回" type="button">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{/block}

{block name="script"}
<!-- 配置文件 -->
<script type="text/javascript" src="public_admin_common_js/Ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="public_admin_common_js/Ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="public_admin_common_js/Ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="http://cdn.bootcss.com/html5media/1.1.8/html5media.min.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var detail_img_obj = UE.getEditor('detail_img');
</script>
    <script type="text/javascript">
        $(function(){
            //项目主图
            detail_img_obj.ready(function() {
                detail_img_obj.setContent($('#detailImg').val());
            });
            //确定
            $('.button_save_black_4').on('click',function(){
                var postData = $('#form1').serializeObject();
                //主图
                postData.detail_img = '';
                $.each($('#detail_img').find('iframe').contents().find('.view img'),function(){
                    postData.detail_img += $(this).attr('src') + ',';

                });
                var url = module +'Project/edit';
                var _this = $(this);
                _this.addClass("nodisabled");//防止重复提交
                $.post(url,postData,function(msg){
                    _this.removeClass("nodisabled");//
                    dialog.msg(msg,'',function () {
                        location.href = controller + 'manage';
                    });
                });
            });

            //返回
            $('.button_save_black').click(function(){
                location.href = controller + '/manage';
            });

            // 选择单图片
            $('body').on('change','.uploadSingleImg',function () {
                var _this=$(this);
                uploadsSingleImgFlag = false;
                var img = event.target.files[0];
                var uploadfileSize=img.size/1024/1024;
                var obj=$(this).parent();
                // 判断是否图片
                if(!img){
                    return false;
                }
                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    dialog.error('请上传：jpg、jpeg、png、gif格式图片');
                    return false;
                }
                if(uploadfileSize>1){
                    dialog.error('图片大小不能超过1M');
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).addClass('active');
                    var postData = {fileBase64: e.target.result};
                    // postData.imgWidth = 145;
                    // postData.imgHeight = 100;
                    $(obj).find('img').attr('src',imgUrl);
                    var type = _this.data('type');
                    if(type == 'notupload'){
                        $(obj).find('.img').val(imgUrl);
                        console.log(1);
                        return false;
                    }
                    //提交
                    $.post(controller+"uploadFileToTemp",postData,function(msg){
                        if(msg.status == 1){
                            uploadsSingleImgFlag = true;
                            $(obj).find('.img').val(msg.info);
                        }else{
                            dialog.error(msg.info)
                        }
                    })
                }
            });

        });
    </script>
{/block}