{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="{:request()->scheme()}://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
{/block}
{block name="content"}
<article class="f24">
    <section class="slider_banner">
		<div class="swiper-container1 swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-active">
					<img src="index_img/corporate_banner.jpg" alt="" class="common_default_img">
				</div>
			</div>
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
				<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 2"></span>
				<span class="swiper-pagination-bul let " tabindex="0" role="button" aria-label="Go to slide 3"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 4"></span>
			</div>
		</div>      
	</section>
	<section class="">
		<ul class="nav_menu weiya_menu">
            <li class="current">
                <a href="javascript:void(0);">最新动态</a>
            </li>
            <li>
                <a href="javascript:void(0);">企业简介</a>
            </li>
            <li>
                <a href="javascript:void(0);">研发生产</a>
            </li>
			<li>
                <a href="javascript:void(0);">OEM流程</a>
            </li>
            <li>
                <a href="javascript:void(0);">联系信息</a>
            </li>
        </ul>
	</section>
    <section class="content_main weiya_content">
		<div class="weiya_item ">
			<div class="columns_flex l-r-sides top_title">
				<span>
					<img class="left" src="index_img/wyyz_logo.png" alt="">
					<span class="cpy_name">维雅生物科技</span>
				</span>
				<span>2017-12-8 9:47</span>
			</div>
			<ul id="list">
				<li>
					<div class="more-text-box">
						<p class="more-text"><span class="intro_title">#小分子活性肽系列#</span>小分子美容多肽具有结构简单活性稳定、分子量小极易透皮吸收，护肤作用机理明确、质量可控、安全性高无副作用等特点，成为生物药妆配方系列中最广泛配伍使用的原料，也是国际大牌护肤品牌的最爱，可应用于原液、面膜、乳霜等剂型，研发各类医学护肤功能产品.</p>
					</div>
					<div class="dynamic_img info_img">
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp01.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp02.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp03.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp04.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp05.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp06.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp07.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp08.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp09.jpg" alt="">
						</a>
					</div>
				</li>
				<li>
					<div class="more-text-box">
						<p class="more-text"><span class="intro_title">#玻尿酸活性肽原液#</span>上新，超浓缩的原液精华，富含EGF、aFGF、bFGF生长因子、玻尿酸、多种天然植物等成分，能迅速修护受损和老化肌肤，促进表皮细胞更新，增厚鲜嫩皮膜，重建天然屏障，使肌肤细嫩弹滑、富有光泽</p>
					</div>
					<div class="dynamic_img info_img">
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp10.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp11.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp12.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp13.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp14.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp15.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp16.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp17.jpg" alt="">
						</a>
						<a href="javascript:void(0);">
							<img src="index_img/zjwy_cp18.jpg" alt="">
						</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="weiya_item hide">
			<div class="content-padding">
				<h4>广东维雅生物科技有限公司</h4>
				<h4>美业领先的品牌定制（加工）厂商</h4>
				<span class="title1">全国美妆日化行业科协生物药妆研究基地</span>
				<div class="cpy_img_default">
					<img src="index_img/corporate_culture1.jpg" alt="">
				</div>
				<p class="cpy_p_text">广东维雅生物科技有限公司，致力于研发生物药妆等美塑水光真皮项目产品、轻光电配套美肤项目产品以及居家护理药妆，在广州科学城建设有3000平方米的cGMP化妆品生产基地，核心技术研发团队已有二十多年的生物高新技术成果产业化经验，取得多个具备自主产权的国家发明专利技术成果，是全国美妆日化行业科协生物药妆研究基地和行业领先的高端药妆护肤品生产供应商，中华美业十大生产制造商，行业领先的品牌定制研发生产平台。</p>
				<dl class="cpy_text_item">
					<dt><span>[ 企业定位 ]</span></dt>
					<dd>全球领先的抗衰老专家，中国领先的抗衰老方案供应商，维观科技世界品质，中国美容业品牌定制第一平台！</dd>
				</dl>
				<dl class="cpy_text_item">
					<dt><span>[ 企业使命 ]</span></dt>
					<dd>科技兴业，提升中华美业技术含金量，让女人的衰老慢些来；成就客户的品牌创业梦想，帮助合作伙伴打造可持续经营事业。</dd>
				</dl>
				<dl class="cpy_text_item">
					<dt><span>[ 企业文化 ]</span></dt>
					<dd>创新文化、专家文化、双赢文化、感恩文化、大家文化 。</dd>
				</dl>
			</div>
			<div class="cpy_mid_intro">
				<div class="cpy_img_default">
					<img src="index_img/corporate_culture2.jpg" alt="">
				</div>
				<p class="important_heading">成就合作伙伴项目品牌定制创新创业梦想</p>
				<p class="text_pink cpy_p_text">维雅成立十几年来凭借科技兴业精神不断创新，致力提升中国美容业科技含金量，推动美容行业的科技进步。</p>
				<p class="text_pink cpy_p_text">公司拥有具有20多年生物医药护肤研发团队，近年来开发了水光美容、光电美容、药妆修复和有机护肤等特色项目产品，服务横跨生活美容和医疗美容领域，为国内一批注重产品品质的合作伙伴提供优质的项目产品解决方案。</p>
				<div>
					<div class="text_pink">戴宏彬<span>董事长</span></div>
					<p>广州维观生物科技有限公司董事长</p>
					<p>广东维雅生物科技有限公司董事长</p>
					<p>广东美尚健康研究院有限公司院长</p>
					<p>广东美尚网络科技有限公司董事长</p>
					<p>中国科协全国美妆日化行业科协副主席</p>
					<p>中国美业智库副主任</p>
					<p>全国工商联美容化妆品业商会美塑专委会主任</p>
					<p>暨南大学硕士学位研究生校外导师</p>
					<p>华南农业大学硕士学位研究生校外导师</p>
					<p>国务院发展研究中心美容业课题组专家</p>
					<p>国家发改委美容产业规划编制专家</p>
					<p>全国美容业创新发展联合自律管理委员会常务副主席</p>
					<p>香港国际美业评审总会 名誉会长</p>
					<p>香港美发美容业商会 名誉会长</p>
				</div>
			</div>
			<div class="content-padding">
				<p class="important_heading important_first_heading">开创中国基因美容修护时代</p>
				<p class="important_heading important_last_heading">国内领先的生物药妆研发生产基地</p>
				<p class="cpy_p_text">1996年国内第一家研发推出国家一类新药技术成果来源的基因工程生长因子护肤品，开启中国基因美容修护时代；参加国家商务部《美容服务面部护理操作技术要求》标准制定，参与国务院发展研究中心公管所主导的《中国美容业发展战略研究》行业调研项目和国家发展与改革委员会产业所主导的《全国美容产业发展战略规划纲要》研讨，为全国美容行业的健康快速发展做出了积极的贡献。</p>
				<div class="cpy_img_default">
					<img src="index_img/corporate_culture3.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="weiya_item hide">
			<div class="module_item develop_item">
				<h4>国际化生产基地</h4>
				<p class="important_heading base">3000平方米的GMPc化妆品生产基地</p>
				<div class="cpy_img_default">
					<img src="index_img/corporate_culture4.jpg" alt="">
				</div>
				<p class="important_heading">国际生产规范和品质管理</p>
				<p>生产车间环境按照GMPC认证的高要求建设，超高标准的无尘生化研究室和检验室，
					保证产品的安全性。完善的品质控制系统贯穿配方实验、原料检测、包材消毒、生产管制、
					流程管理、成品检验、安全存放等多个环节，每个环节都有专人专控，层层把关。
				</p>
			</div>
			<div class="module_item">
				<p class="important_heading">多项行业认证载誉前行</p>
				<div class="cpy_img_default">
					<img src="index_img/corporate_culture5.jpg" alt="">
				</div>
			</div>
			<div class="module_item">
				<p class="important_heading">现代化自动生产线</p>
				<p class="cpy_p_text">公司自成立初期就按照GMP标准打造生产车间，拥有国际领先的全封闭式10万级净化车间，确保空气洁净，环境达标、布局合理、安全生产。</p>
				<div class="cpy_img_default">
					<img src="index_img/corporate_culture6.jpg" alt="">
				</div>
			</div>
			<div class="module_item">
				<p class="important_heading">高端生产设备</p>
				<p class="cpy_p_text">引进多台/套先进乳化、自动灌装、灭菌、检测等国内外顶尖设备，满足不同需求的生产订单，不断提升生产工艺和产品品质。</p>
				<div class="cpy_img_default">
					<img src="index_img/corporate_culture7.jpg" alt="">
				</div>
			</div>
			<div class="module_item">
				<p class="important_heading important_first_heading">专业化研发中心</p>
				<p class="important_heading important_last_heading">美尚生物医药研究院研发</p>
				<p class="cpy_p_text">生物药妆是现代护肤重要的理念， 多年来维雅与基因工程药物国家研究中心、联邦制药、北大-冠昊干细胞与再生医学研究院等实验室机构紧密合作，致力开发以基因工程生长因子、基因工程酵母发酵活性物、氨基酸合成美容活性肽以及天然植物提取的活性物等为主要成分的有机配方健康美容产品。</p>
				<div class="cpy_img_default">
					<img src="index_img/corporate_culture8.jpg" alt="">
				</div>
			</div>
			<div class="module_item">
				<p class="important_heading important_first_heading">高新技术创新型研发团队</p>
				<p class="important_heading important_last_heading">美尚生物医药研究院研发</p>
				<p class="cpy_p_text">公司研发团队组建十多年，高级工程师，海归技术人才，国内领先先进技术配方为技术支持后盾，团队专注于生物药妆高新技术领域的新原料、新配方、新工艺和新应用等方面的研发，生产专业线的美塑水光真皮项目产品、轻光电配套项目产品以及居家护理的特色药妆产品。</p>
				<div class="cpy_img_default">
					<img src="index_img/corporate_culture9.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="weiya_item hide">
			<div class="content-padding">
				<p class="important_heading bold">品牌定制业务流程</p>
				<div class="process">
					<p>1、平台了解项目信息</p>
					<p>2、购买项目样品体验</p>
					<p>3、确定项目包材样板</p>
					<p>4、平台定制需求咨询</p>
					<p>5、平台付款定制品牌</p>
					<p>6、工厂按需求排单生产</p>
					<p>7、交货运送至订单地址</p>
					<p>8、客户验收及售后服务</p>
				</div>
				<p class="important_heading bold">常规加工合作业务流程</p>
				<div class="process">
					<p>1、亲临工厂现场考察</p>
					<p>2、品牌定制项目咨询</p>
					<p>3、体验确定配方样板</p>
					<p>4、签署合同预付款项</p>
					<p>5、包材策划设计审核</p>
					<p>6、协助客户非特备案送检</p>
					<p>7、包材到位订单排单生产</p>
					<p>8、客户验收结清货款交货</p>
				</div>
			</div>
		</div>
		<div class="weiya_item hide" >
			<div class="content-padding">
				<div class="cpy_img_default">
					<img src="index_img/corporate_culture10.jpg" alt="">
				</div>
			</div>
			<div class="contact_info_item">
				<div class="c_top">
					<p class="f28">广东维雅生物科技有限公司</p>
					<p>地址：广州市经济技术开发区科学城开源大道206号第2层</p>
					<p>电话：<a href="tel:020-89117321">020-89117321</a>    热线：400-877 1389</p>
					<p>官网：{:request()->scheme()}://www.worldview.com.cn</p>
				</div>
				<div class="c_mobile">
					<p class="f26">维雅品牌定制服务中心</p>
					<p>朱田：<a href="tel:15918567008">13059156679</a></p>
					<p>宫学莹：<a href="tel:13711326631">13711326631</a></p>
					<p>叶雯雯：<a href="tel:13660613163">18820019781</a></p>
					<p>监督热线：<a href="tel:18820019781">13710651399</a></p>
				</div>
				<div style="padding-right:0.30rem;">
					<img src="public_img/contact.gif" alt="" style="width:100%;">
				</div>
			</div>
			<div class="content-padding">
				<p>维雅工厂的导航定位</p>
				<div id="allmap" class="weiya_map"></div>
			</div>
		</div>
    </section>
</article>
<div class="big_img">
	<section class="enlarge_img">
		<div class="swiper-container swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				
			</div>
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
				<!--<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 2"></span>
				<span class="swiper-pagination-bul let " tabindex="0" role="button" aria-label="Go to slide 3"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 4"></span>-->
			</div>
		</div>      
	</section>
</div>
<section class="bottom_nav_fixed bottom_white">
	<nav class=" foot_nav_bar">
		<ul class="columns_flex">
			<li class="each_column">
				<a href="{:url('Index/index')}">
					<span class="store f_icon"></span>
					<span class="f_txt">药妆定制</span>
				</a>
			</li>
			<li class="each_column current">
				<a href="javascript:void(0)">
					<span class="practitioners f_icon"></span>
					<span class="f_txt">走进维雅</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('Consultation/index')}">
					<span class="business f_icon"></span>
					<span class="f_txt">业务咨询</span>
				</a>
			</li>
			<li class="each_column">
				<a href="javascript:void(0)" class="my_cart" data-jump_url="{:url('Cart/index')}">
					<span class="cart f_icon"></span>
					<span class="f_txt">采购车</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('Mine/index')}">
					<span class="my f_icon"></span>
					<span class="f_txt">我的</span>
				</a>
			</li>
		</ul>
	</nav>
</section>
{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
<script type="text/javascript" src="index_js/jump_login.js"></script>
<script type="text/javascript" src="{:request()->scheme()}://api.map.baidu.com/api?v=2.0&ak=Fimtwu6FDRrHWvg3oq44YCw0c0YonNpv"></script>
<script type="text/javascript" src="{:request()->scheme()}://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script type="text/javascript">
	$(function(){
		//轮播
		var swiper = new Swiper('.swiper-container1',{
			spaceBetween: 30,
			autoplay:true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
		//查看文本
		$('.more-text-box').moreText({
			mainCell:".more-text",
			openBtn:'显示全部>'
		});
		$('.weiya_menu li').on('click',function(){
			$(this).addClass('current').siblings().removeClass('current');
			$('.weiya_item').hide().eq($(this).index()).show();
		}); 
		//放大图片
		$("#list").on("click", ".info_img img",function() {
			var imgBox = $(this).parents(".info_img").find("img");
			var i = $(imgBox).index(this);
			console.log(i);
			$(".big_img .swiper-wrapper").html("");
			console.log(imgBox.length);
			for(var j = 0 ,c = imgBox.length; j < c ;j++){
				console.log(imgBox.eq(j).attr("src"));
				$(".big_img .swiper-wrapper").append('<div class="swiper-slide"><img src="' + imgBox.eq(j).attr("src") + '" / ></div>');
			}			
			// mySwiper.updateSlidesSize();swiper-slide-active
			// mySwiper.updatePagination();
			$(".big_img").css({
				"z-index": 1001,
				"opacity": "1"
			});
			//mySwiper.slideTo(i, 0, false);
			/*调起大图*/
			var mySwiper = new Swiper('.swiper-container', {
				// loop:true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true
				}
			})
			return false;
		});
		$(".big_img").on("click",function() {
			$(this).css({
				"z-index": "-1",
				"opacity": "0"
			});

		}); 
	});
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例
	// 初始化地图,设置中心点坐标和地图级别
	//map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  
	
	//map.centerAndZoom("广州",12); 
	function setPlace(targetCity){
		map.clearOverlays();    //清除地图上所有覆盖物
		function myFun(){
			var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
			map.centerAndZoom(pp,12);
			//偏移中心居中
			map.panBy(205,165);
			//添加标注
			map.addOverlay(new BMap.Marker(pp));    
			//设置地图显示的城市 此项是必须设置的
			//map.setCurrentCity("广州市经济技术开发区科学城开源大道206号"); 
		}
		

		var local = new BMap.LocalSearch(map, { //智能搜索
		onSearchComplete: myFun
		});
		local.search(targetCity);	
	}
	// var geolocation = new BMap.Geolocation(); 
    // 	geolocation.getCurrentPosition(function(r){ 
	// 		if(this.getStatus() == BMAP_STATUS_SUCCESS){ 
	// 			var mk = new BMap.Marker(r.point); 
	// 			map.addOverlay(mk); 
	// 			//map.panTo(r.point);//地图中心点移到当前位置 
	// 			var latCurrent = r.point.lat; 
	// 			var lngCurrent = r.point.lng; 
	// 			alert('我的位置：'+ latCurrent + ',' + lngCurrent);
	
	// 			location.href="{:request()->scheme()}://api.map.baidu.com/direction?origin="+latCurrent+","+lngCurrent+"&destination=39.89778,116.709684&mode=driving&region=广州市经济技术开发区科学城开源大道&output=html"; 
	
	// 		} 
	// 		else { 
	// 			alert('failed'+this.getStatus()); 
	// 		}         
	// 	},{enableHighAccuracy: true}) 

	// 	map.addOverlay(marker);   
	// 	var licontent="<b>健龙森羽毛球馆</b><br>";   
	// 		licontent+="<span><strong>地址：</strong>北京市通州区滨河中路108号</span><br>";   
	// 		licontent+="<span><strong>电话：</strong>(010)81556565 / 6969</span><br>";           
	// 	var opts = {  
	// 		width : 200, 
	// 		height: 80, 
	// 	};          
	// 	var  infoWindow = new BMap.InfoWindow(licontent, opts);   
	// 	marker.openInfoWindow(infoWindow);   
	// 	marker.addEventListener('click',function(){ 
	// 		marker.openInfoWindow(infoWindow); 
	// 	});
	//添加地图类型控件
	map.addControl(new BMap.MapTypeControl({
		mapTypes:[
			BMAP_NORMAL_MAP,
			BMAP_HYBRID_MAP
		]}));	  
	
	//开启鼠标滚轮缩放
	map.enableScrollWheelZoom(true); 
	//window.onload=function(){
	var addr="广州市经济技术开发区科学城开源大道206号";
		setPlace(addr);
	//}
</script>
{/block}