{extend name="template/base_pc.html" /}
{block name="css-customize"}
    <link type="text/css" rel="stylesheet" href="public_admin_common_css/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="public_admin_common_css/skin.css" />
{/block}
{block name="content"}
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:url('Role/manage')}" ><span>管理</span></a></li>
                    <li><a href="{:url('Role/edit')}"><span>编辑</span></a></li>
                    <li><a href="javascript:void(0);" class="current"><span>{$roleName}</span></a></li>
                </ul>
            </div>
        </div>
        <div class="fixed-empty"></div>
        <div style="margin:15px 0 0 20px;">
            <table class="table tb-type2">
                {include file="role/node_list" /}
                <tfoot>
                    <tr class="tfoot">
                        <td>
                            <input type="checkbox" class="check_all_2" id="check_all_2">
                            <label for="check_all_2" class="all_checkbox">全选</label>
                            <a href="JavaScript:void(0);" class="a-del-batch">批量删除</a>
                        </td>
                    </tr>
                    <tr class="tr-margin-item">
                        <td height="60" width="50%" align="left">
                            <a href="javascript:void(0);"><input class="button_save_black_4" value="确定" type="button"></a>
                            <input class="button_save_black" name="add0" value="返回" type="button">
                        </td>
                    </tr>           
                </tfoot>
            </table>
        </div>
    </div>
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){
        //页面初始化
        //菜单回显
        var nodeIds = '{:json_encode($nodeIds)}';
        nodeIds = JSON.parse(nodeIds);
        //二级菜单回显
        $.each($('[level=2]'),function(){
            var _this = $(this);
            var node_id = _this.data('node_id');
            for(let v of nodeIds){
                if(v == node_id){
                    _this.find('.check_item_2').prop('checked',true);
                }
            }
        });
        //一级菜单回显
        $.each($('tbody'),function(){
            var _this = $(this);
            var selectAllsign = true;
            var selectOneSign = false;
            //一票否决
            $.each(_this.find('[level=2]').find('.check_item_2'),function(){
                if(!$(this).prop('checked')){
                    selectAllsign = false;
                    return;
                }
            });
            //只要选中一个
            $.each(_this.find('[level=2]').find('.check_item_2'),function(){
                if($(this).prop('checked')){
                    selectOneSign = true;
                    return;
                }
            });
            _this.find('[level=1]').find('.check_item_2').prop('checked',selectAllsign);
            if(selectOneSign){
                _this.find('.node_folding').click();
            }
        });
        //确定
        $('.button_save_black_4').on('click',function(){
            var postData = {};
            postData.nodeIds = [];
            $.each($('tbody').find('tr[level=2]'),function(){
                if($(this).find('.check_item_2').prop('checked')){
                    postData.nodeIds.push($(this).data('node_id'));
                }
            });
            postData.roleId = '{$roleId}';
            $.post(action,postData,function(msg){
                dialog.msg(msg,'',function () {
                    location.href = controller + 'manage';
                });
            },'JSON');
        });
        //返回
        $('.button_save_black').click(function(){
            location.href = controller + 'manage';
        });
    });
</script>
{/block}