{notempty name='menuList'}
    {volist name="menuList" id="vo"}
    <tbody>
    <tr class="hover" level="1" data-node_id="{$vo.id}">
        <td class="w10" width="25%">
            <input type="checkbox" class="check_item_2" >
            <span class="node_folding" status="open"></span>
            <span>{$vo.name}</span>
        </td>
    </tr>
    {notempty name='vo.sub_menu'}
        {volist name="vo.sub_menu" id="vv"}
        <tr class="hover" level="2" data-node_id="{$vv.id}">
            <td class="w10" width="25%">
                <input type="checkbox" class="check_item_2" />
                <span>{$vv.name}</span>
            </td>
        </tr>
        {/volist}
    {/notempty}
    </tbody>
    {/volist}
{/notempty}