{extend name="template/base.html" /}
{block name="css-customize"}

{/block}
{block name="content"}
<section class="f20 header_title separation-line">
	<a href="javascript:void(0);" class="back_prev_page" data-jump_url="{:url('Mine/index')}"></a>
	<h2 class="">收货地址列表</h2>
</section>
<article class="f24">
	<section class="delivery_address">
		<input type="hidden" value="{$orderId}" class="order_id">
		{notempty name="addressList"}
		{volist name="addressList" id="vo"}
			<div class="item_addr">
				<div class="ia-l"></div>
				<div class="item_info">
					<input type="hidden" value="{$vo.id}" class="address_id"> 
					<div class="mt_new">
						<span>{$vo.consignee}</span>
						<span>{$vo.mobile}</span>
						{if $vo.is_default eq 1 }
						<i class="default_tipc">默认</i>
						{/if}
					</div>
					<p class=""><span class="area_address" id="{$vo.id}"></span>{$vo.detail_address}</p>
					<input type="hidden" class="area-address-name" value="" data-province="{$vo.province}" data-city="{$vo.city}" data-area="{$vo.area}">
				</div>
				<a href="javascript:void(0)" class="address_delete">删除</a>
				<a href="javascript:void(0);" class="ia-r address_edit">
					<span class="iar-icon"></span>
				</a>
			</div>
		{/volist}
		{else /}
		<div class="no_data">
			<img src="public_img/no-address.png" alt="">
		</div>
		{/notempty}
	</section> 
</article> 
{/block}
{block name="common"}
{include file="template/footer_menu.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/jquery.area.js"></script>
<script type="text/javascript">
	$(function(){
		$('.delivery_address .item_info').each(function(index,val){
			//省市区初始化
			var _this=$(this);
			var province=_this.find('.area-address-name').data('province');
			var city=_this.find('.area-address-name').data('city');
			var area=_this.find('.area-address-name').data('area');
			var region = [];
			if(province && city && area){
				region.push(province);
				region.push(city);
				region.push(area);
				_this.find('.area_address').setArea(region);
			}

		});

		//新建地址
		$('body').on('click','.address_create',function () {
			location.href = module + 'Address/edit';
		});

		//跳转到地址列表
		$('.item_info').click(function () {
			var addressId = $(this).find('.addressId').val();
			var orderId = $(this).parents().find('.orderid').val();
			if(orderId){
				location.href = module + 'Order/orderDetail/order_id/'+orderId+'/address_id/'+addressId;
			}
		});

		//修改地址
		$('body').on('click','.address_edit',function () {
			var addressId = $(this).parent().find('.address_id').val();
			var url = controller + 'edit/address_id/'+addressId;
			var orderId = $(this).parents().find('.orderid').val();
			if(orderId){
				url += '/order_id/'+orderId;
			}
			location.href = url;
		});

		//删除地址
		$('body').on('click','.address_delete',function () {
			var _this = $(this);
			var postData = {};
			postData.address_id = _this.siblings().find('.address_id').val();
			layer.open({
				content : '删除你选中的地址吗',
				time:5,
				btn : ['是','否'],
				title: '提示',
				yes : function(index){
					_this.addClass("nodisabled");//防止重复提交
					var url = module + '/Address/del';
					$.ajax({
						url: url,
						data: postData,
						type: 'post',
						beforeSend: function(){
							$('.loading').show();
						},
						error:function(){
							$('.loading').hide();
							dialog.error('AJAX错误');
						},
						success: function(data){
							_this.removeClass("nodisabled");//删除防止重复提交
							$('.loading').hide();
							if(data.status == 1){
								_this.parents('.item_addr').remove();
							}
							if(data.status == 0){
								dialog.error(data.info);
							}
						}
					});
					layer.close(index);
				}
			});

		})
	});
</script>
{/block}