{extend name="template/base.html" /}
{block name="content"}
<article class="f24 pay_wrapper">
    <section class="header_title separation-line">
        <a href="javascript:void(0);" class="back_prev_page"></a>
		<h2 class="f24">采购充值</h2>
	</section>
    <section class="recharge_amount_item content-padding">
        <div class="columns_flex l-r-sides">
            <span>选择充值金额</span>
            <span>充值记录></span>
        </div>
        <ul class="recharge_m_list">
            <li>
                <span>3000</span>元
            </li>
            <li>
                <span>5000</span>元
            </li>
            <li>
                <span>10000</span>元
            </li>
            <li>
                <span>20000</span>元
            </li>
            <li>
                <span>50000</span>元
            </li>
            <li>
                <span>100000</span>元
            </li>
        </ul>
    </section>
    <section class="content-padding ">
        <p class="content-label">选择充值方式</p>
        <div>
            <ul class="pay_nav">
                <li data-paycode="1">
                    微信支付
                    <!--<input type="checkbox" checked="checked" class=""/>-->
                    <span class="selected"></span>
                    <span class="wx"></span>
                </li>
                <li data-paycode="2">
                    支付宝支付
                    <!--<input type="checkbox" class=""/>-->
                    <span class="selected"></span>
                    <span class="wx"></span>
                </li>
                <li data-paycode="3">银联支付
                    <!--<input type="checkbox" class=""/>-->
                    <span class="selected"></span>
                    <span class="wx"></span>
                </li>
            </ul>
        </div>
        <p>*线下银行转账/现金支付需将证据拍照上传</p>
        <form action="{:url('Payment/orderPayment')}" method="post" class="recharge_form">
            <input type="hidden" name="recharge_amount" value=""/>
            <input type="hidden" name="pay_code" value="" class="pay_code"/>
            <span class="red">￥<price>0.00</price></span>
            <input type="submit" value="充值支付" />
        </form>
    </section>
</article>
{/block}
{block name="common"}

{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){
        $('.pay_nav li').on('click',function(){
            $(this).addClass('current').siblings().removeClass('current');
            var pay_code = $(this).data('paycode');
            $(this).find('input[type="checkbox"]').prop('checked',true);
            $('.pay_code').val(pay_code);
        });
        $('.recharge_m_list li').on('click',function(){
            $(this).addClass('current').siblings().removeClass('current');
            var rechargeMoney = $(this).find('span').text();
            $('.recharge_form price').text(rechargeMoney);
            $('input[name="recharge_amount"]').val(rechargeMoney);
        });

        $('body').on('click','.pay_btn',function () {
            var pay_code = $('input[name=pay_code]').val();
            var rechargeMoney = $('input[name=recharge_amount]').val();
            if(rechargeMoney){
                dialog.error('充值金额不能为0');
                return false;
            }
            if(!pay_code){
                dialog.error('请选择支付方式');
                return false;
            }

        })
    });
</script>
{/block}