{extend name="template/admin_pc/base.html" /}
{block name="content"}
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:url('User/info')}"  class="current"><span>个人信息</span></a></li>
                </ul>
            </div>
        </div>
        <div style="margin-top:15px;">
            <form id="form1">
                <table id=table18 class="add_new_merchandise" width="100%">
                    <tbody>
                        <tr class="tr-margin-item">
                            <td class=dotted_bottom_gray width="12%" align="right">名称：</td>
                            <td class=dotted_bottom_gray width="88%" align=left>
                                <span>{$info.name|default=''}</span>
                                <input type="hidden" name="id" value="{$info.id|default=0}">
                            </td>
                        </tr>
                        <tr class="tr-margin-item">
                            <td class=dotted_bottom_gray width="12%" align="right">昵称：</td>
                            <td class=dotted_bottom_gray width="88%" align=left>
                                <span>{$info.nickname|default=''}</span>
                            </td>
                        </tr>
                        <tr class="tr-margin-item">
                            <td class=dotted_bottom_gray width="12%" align="right">性别：</td>
                            <td class=dotted_bottom_gray width="88%" align=left>
                                <span>{$info.sex|default=''}</span>
                            </td>
                        </tr>
                        <tr class="tr-margin-item">
                            <td class=dotted_bottom_gray width="12%" align="right">手机号码：</td>
                            <td class=dotted_bottom_gray width="88%" align=left>
                                <span>{$info.mobile_phone|default=''}</span>
                            </td>
                        </tr>
                        <tr class="tr-margin-item">
                            <td class=dotted_bottom_gray width="12%" align="right">注册时间：</td>
                            <td class=dotted_bottom_gray width="88%" align=left>
                                <span>{$info.create_time|date='Y-m-d H:i'|default=''}</span>
                            </td>
                        </tr>
                        <tr class="tr-margin-item">
                            <td class=dotted_bottom_gray width="12%" align="right">最后登录时间：</td>
                            <td class=dotted_bottom_gray width="88%" align=left>
                                <span>{$info.last_login_time|date='Y-m-d H:i'|default=''}</span>
                            </td>
                        </tr>
                        <tr class="tr-margin-item">
                            <td class=dotted_bottom_gray width="12%" align="right">备注：</td>
                            <td class=dotted_bottom_gray width="88%" align=left>
                                <span>{$info.remark|default=''}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{/block}