{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="store_css/main.css">
{/block}
{block name="content"}
<article class="f24">
	<section class="fixedtop top_nav_fixed">
		{include file="template/header_menu_msy_store.html" /}
		<!--<div class="top_menu_box">
			<div class="top_menu_list">
				<a href="javascript:void(0);">采购</a>
				<a href="javascript:void(0);">分成</a> 
				<a href="javascript:void(0);">加盟</a>
				<a href="javascript:void(0);"  class="current">店家入驻</a>
				<a href="javascript:void(0);">智能门店</a>
				<a href="javascript:void(0);">新零售</a>
				<a href="javascript:void(0);">云推客</a>
				<a href="javascript:void(0);">美尚会</a> 
			</div>
		</div> -->
	</section>
	<section class="slider_banner">
		<div class="swiper-container swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-active">
					<img src="public_img/banner/home-banner1.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public_img/banner/home-banner2.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public_img/banner/home-banner3.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public_img/banner/home-banner.jpg" alt="" class="common_default_img">
				</div>
			</div>
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
				<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 2"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 3"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 4"></span>
			</div>
		</div>      
	</section>
	<section class="module-navigation separation-line ">
		<div class="columns_flex f20 channel_nav store_organize_nav">
			<a href="{:url('store/Store/index')}" class="deployed-deployment"><span class="union_purchase"></span>入驻部署</a>
			<a href="javascript:void(0);" class="store_run"><span class="exclusive"></span>店长管理</a>
			<a href="{:url('store/Operation/index')}" class="order-management"><span class="classify"></span>店铺运营</a>
			<a href="{:url('store/Order/index')}" class="order-management-change"><span class="purchasers"></span>订单客服</a>
			<a href="javascript:void(0);" class="my-store"><span class="recharge"></span>财务结算</a>
		</div>
	</section>
	<section class="message-center-info f20">
		<p>欢迎来到采购商管理中心</p>
		<p>美尚云平台支持机构多店铺运营管理</p>
	</section>
	<section>
		<a href="{:url('store/Deploy/register')}" class="account_entry right-arrow f20">还未入驻？免费入驻美尚云生态圈平台</a>
	</section>
</article>
{/block}
{block name="common"}
{include file="template/footer_menu_msy_store.html" /}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
<script type="text/javascript">
	$(function(){
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
	});
</script>
{/block}