{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<article class="person-center-wrapper f24">
    <section class="separation-line columns_flex l-r-sides flex_item">
        {empty name="user"}
        <div class="user_top">
            <a href="javascript:void(0);" id="login_dialog">
               <img src="public_img/default/head_50.png" alt="">
               注册登录
           </a>
        </div>
        {else /}
        <div class="user_top_item">
            {empty name="user.avatar"}
            <img src="public_img/default/chat_head.jpg" class="left">
            {else /}
            <img src="public_uploads/{$user.avatar}" class="left">
            {/empty}
            <div class="user_info_r">
                <p>{$user.name}</p>
                <p>{$user.mobile_phone}</p>
            </div>
        </div>
        <a href="javascript:void(0);" id="logout_dialog" class="sign_out">
            退出>
        </a>
        {/empty}

    </section>
    <section class="separation-line">
        <div class="flex_item">
            <a href="{:url('MessageCenter/index')}" class="person-td">
                <span class="my-msg">
                    <i class="num">1</i>
                </span>
                消息
            </a>
            <a href="{:url('Notice/index')}" class="person-td">
                <span class="notice"></span>
                定制须知
            </a>
            <a href="" class="person-td">
                <span class="collec"></span>
                我的收藏
            </a>
        </div>
    </section>
    <section class="separation-line">
        <div class="flex_item">
            <a href="javascript:void(0)" class="person-td my_cart"  data-jump_url="{:url('Cart/index')}">
                <span class="cart"></span>
                采购车
            </a>
            <a href="javascript:void(0)" class="person-td address_manage" data-jump_url="{:url('Address/manage')}">
                <span class="addr"></span>
                收货人地址
            </a>
            <a href="javascript:void(0)" class="person-td recharge" data-jump_url="{:url('Wallet/recharge')}">
                <span class="charge"></span>
                采购充值
            </a>
            <a href="javascript:void(0)" class="person-td order_manage"  data-jump_url="{:url('Order/manage',['order_status'=>1])}">
                <span class="wait_pay"></span>
                待付款
            </a>
        </div>
        <div class="flex_item">
            <a href="javascript:void(0)" class="person-td order_manage"  data-jump_url="{:url('Order/manage',['order_status'=>2])}">
                <span class="wait_recevie"></span>
                待收货
            </a>
            <a href="javascript:void(0)" class="person-td order_manage" data-jump_url="{:url('Order/manage',['order_status'=>3])}">
                <span class="commit"></span>
                待评价
            </a>
            <a href="javascript:void(0)" class="person-td order_manage"  data-jump_url="{:url('Order/manage',['order_status'=>5])}">
                <span class="after_s"></span>
                售后
            </a>
            <a href="javascript:void(0)" class="person-td order_manage" data-jump_url="{:url('Order/manage',['order_status'=>4])}">
                <span class="complete"></span>
                已完成
            </a>
        </div>
    </section>
    <section class="separation-line">
        <div class="flex_item">
            <a href="{:url('Brand/index')}" class="person-td ">
                <span class="brand"></span>
                我的品牌
            </a>
            <a href="{:url('Report/index')}" class="person-td">
                <span class="presentation"></span>
                我的报告
            </a>
        </div>
    </section>
</article>
<section class="bottom_nav_fixed bottom_white">
	<nav class=" foot_nav_bar">
		<ul class="columns_flex">
			<li class="each_column">
				<a href="{:url('Index/index')}">
					<span class="store f_icon"></span>
					<span class="f_txt">药妆定制</span>
				</a>
			</li>
			<li class="each_column ">
				<a href="{:url('Company/index')}">
					<span class="practitioners f_icon"></span>
					<span class="f_txt">走进维雅</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('Consultation/index')}">
					<span class="business f_icon"></span>
					<span class="f_txt">业务咨询</span>
				</a>
			</li>
			<li class="each_column">
				<a href="javascript:void(0)" class="my_cart" data-jump_url="{:url('Cart/index')}">
					<span class="cart f_icon"></span>
					<span class="f_txt">采购车</span>
				</a>
			</li>
			<li class="each_column current">
				<a href="">
					<span class="my f_icon"></span>
					<span class="f_txt">我的</span>
				</a>
			</li>
		</ul>
	</nav>
</section>
{/block}
{block name="common"}
{include file="public/set_brand" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
<script type="text/javascript" src="index_js/jump_login.js"></script>
<script type="text/javascript" src="{:request()->scheme()}://api.map.baidu.com/api?v=2.0&ak=Fimtwu6FDRrHWvg3oq44YCw0c0YonNpv"></script>
<script type="text/javascript" src="{:request()->scheme()}://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script type="text/javascript">
    var user={:json_encode($user)};
    $(function () {

    })
</script>
{/block}