{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<article class="f24">
	<section class="content_main weiya_content">
		<div class="weiya_item ">
			<ul id="list">

			</ul>
		</div>
	</section>
</article>
{/block}
{block name="common"}
{include file="template/footer_menu.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/paging.js"></script>
<script type="text/javascript">
	var config = {
		url:module+'Information/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,

	};
	var postData = {
		pageSize:10,
		pageType:'list_tpl'
	};
	$(function(){
		//初始化分类商品页面
		getPagingList(config,postData);
		//下拉加载
		$(window).on('scroll',function(){
			if(config.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config.loadTrigger = false;
				getPagingList(config,postData);
			}
		});
		//查看文本
		$('.more-text-box').moreText({
			mainCell:".more-text",
			openBtn:'显示全部>'
		});
	});
</script>
{/block}