{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<article class="f24">
	<section class="content_main weiya_content">
		<div class="weiya_item ">
			<ul id="list">
				<li>
					<div class="columns_flex l-r-sides top_title">
						<span>
							<img class="left" src="weiya_img/wyyz_logo.png" alt="">
							<span class="cpy_name">维雅生物科技</span>
						</span>
						<span>2017-12-8 9:47</span>
					</div>
					<div class="more-text-box">
						<p class="more-text">#小分子活性肽系列小分子美容多肽具有结构简单活性稳定、分子量小极易透皮吸收，护肤作用机理明确、质量可控、安全性高无副作用等特点，成为生物药妆配方系列中最广泛配伍使用的原料，也是国际大牌护肤品牌的最爱，可应用于原液、面膜、乳霜等剂型，研发各类医学护肤功能产品.</p>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp01.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp02.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp03.jpg" alt="">
						</a>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp04.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp05.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp06.jpg" alt="">
						</a>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp07.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp08.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp09.jpg" alt="">
						</a>
					</div>
				</li>
			</ul>
		</div>
	</section>
</article>
{/block}
{block name="common"}
{include file="template/footer_menu.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/paging.js"></script>
<script type="text/javascript" src="weiya_js/footerCart.js"></script>
<script type="text/javascript">
	var config = {
		url:module+'Information/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,

	};
	var postData = {
		pageSize:10,
		pageType:'list_tpl'
	};
	$(function(){
		//初始化分类商品页面
		getPagingList(config,postData);
		//下拉加载
		$(window).on('scroll',function(){
			if(config.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config.loadTrigger = false;
				getPagingList(config,postData);
			}
		});
		//查看文本
		$('.more-text-box').moreText({
			mainCell:".more-text",
			openBtn:'显示全部>'
		});
	});
</script>
{/block}