{notempty name='list'}
{volist name="list" id="info"}
<li data-id="{$vo.id}">
    <a class="product-square-box" href="{:url('detail',['goods_id'=>$info.id])}">
        {notempty name='vo.thumb_img'}
        <img src="public_uploads/{$info.thumb_img}" alt="" class="product-square-img">
        {else /}
        <img src="public_img/default/no_pic_100.jpg" alt="" class="product-square-img">
        {/notempty}
    </a>
    <p class="product-title">{$info.name}</p>
    <div class="columns_flex two-flex">
        <div class="pink">
            ￥<price>{$info.sale_price}</price>
        </div>
    </div>
</li>
{/volist}
{else /}
{if $page == 1}
<div class='tag-item'>没有符合条件的记录！</div>
{else /}
{/if}
{/notempty}