{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="factory_css/main.css">
{/block}
{block name="content"}
111111111
{/block}

{block name="footer"}
{include file="template/footer_menu.html" /}
{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){
        $('body').on('click','.confirm_order',function () {
            _this = $(this);
            var orderId = {$info[0]['id']};
            var orderSn = "{$info[0]['sn']}";
            var postData = {};
            postData.father_order_id = orderId;
            postData.order_sn = orderSn;
            _this.addClass("nodisabled");//防止重复提交
            var url = module + '/Order/confirmOrder';
            $.ajax({
                url: url,
                data: postData,
                type: 'post',
                beforeSend: function(){
                    $('.loading').show();
                },
                error:function(){
                    $('.loading').hide();
                    dialog.error('AJAX错误');
                },
                success: function(data){
                    _this.removeClass("nodisabled");//删除防止重复提交
                    $('.loading').hide();
                    if(data.status == 0){

                    }else if(data.status == 1){
                        location.href = module + 'Order/pay/order_sn/' + data.order_sn;
                    }
                }
            });
        });
    });

</script>
{/block}