{extend name="template/base.html" /}
{block name="content"}
<article class="f24">
	<section class="content_main">
		<div id="components-demo">
			<button-counter></button-counter>
			<button-counter></button-counter>
			<button-counter></button-counter>
			<button-counter></button-counter>
		</div>
		<div id="blog-post-demo">
			<blog-post
					v-for="post in posts"
					v-bind:key="post.id"
					v-bind:title="post.title"
					v-bind:content="post.content"
			></blog-post>
		</div>
	</section>
</article>
{/block}
{block name="common"}{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="api_common_vue/cart.js"></script>
<script type="text/javascript">
	$(function(){
		Vue.component('button-counter', {
			data: function () {
				return {
					count: 0
				}
			},
			template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
		});
		Vue.component('blog-post', {
			props: ['title','content'],
			template: '<h3>{{ title }}</h3><h1>{{ content }}</h1>'
		});
		new Vue({ el: '#components-demo' });
		new Vue({
			el: '#blog-post-demo',
			data: {
				posts: [
					{ id: 1, title: 'My journey with Vue' ,content:'1111111111'},
					{ id: 2, title: 'Blogging with Vue' ,content:'222222222'},
					{ id: 3, title: 'Why Vue is so fun' ,content:'333333333'}
				]
			}
		});
	});
</script>
{/block}