{extend name="template/base.html" /}
{block name="css-customize"}
<style>

</style>
{/block}
{block name="content"}
<article class="f24">
<section class="module-navigation ">
	<div>
		<ul class="goods_list list">
			<li data-id="73" data-buy_type="1" id="li-id-73">
				<div class="content-padding">
					<p class="top_b_text wk_notice separation">[品牌定制须知] 品牌定制利润为王！</p>
					<div class="columns_flex l-r-sides separation">
						<div class="mid_module_left">
							<img src="https://www.worldview.com.cn/static/common/img/wy_dz.png" alt="">
							<div>
								<span class="left count-down-icons"></span>
								<div class="d-r">
									<p class="friday_end">品牌定制<span>.</span>周五截止</p>
									<div id="countDownBox" class="count_down_box">
										<span class="day">1</span>天
										<span class="hour">06</span>小时
										<span class="minute">52</span>分
										<span class="second">07</span>秒
									</div>
								</div>
							</div>
						</div>
						<div class="mid_module_right">
							<span><span class="item end_time"></span>周五结单</span>
							<span><span class="item factory"></span>品质工厂</span>
						</div>
					</div>
					<div class="separation_item">
						<a href="javascript:void(0);" class="sample_purchase right-arrow">样品购买
						</a>
					</div>
					<div id="product-select">
						<product-select
								v-for="productInfo in productList"
								:key="productInfo.product_id"
								:product_id="productInfo.product_id"
								:deal_price="productInfo.deal_price"
								:buy_named="buy_named"
								:init_quantity="init_quantity"
								:step_quantity="step_quantity"
								:buy_named_display="buy_named_display"
								:step_named_display="step_named_display"
						></product-select>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
</article>
{/block}
{block name="common"}
	{include file="../../api/public/vue/components/footer-cart-menu.html" /}
{/block}
{block name="footer"}
	<div id="foot_cart_menu">
		<footer-cart-menu></footer-cart-menu>
	</div>
{/block}
{block name="suffix-script"}
<script type="text/javascript">
	$(function(){
		new Vue({
			el: '#foot_cart_menu'
		});
		let productSelectParam = '{$productSelectParam|raw}';
		if(productSelectParam){
			productSelectParam = JSON.parse(productSelectParam);
		}
		let param = {
			'buy_named':'采购数量',
			'buy_named_display':true,
			'step_named_display':true,
			'quota_named_display':true,
			'init_quantity':productSelectParam.init_quantity,
			'step_quantity':productSelectParam.step_quantity,
			'productList':[
				{
					'product_id':1,
					'deal_price':168
				},{
					'product_id':2,
					'deal_price':188
				},{
					'product_id':3,
					'deal_price':888
				},{
					'product_id':4,
					'deal_price':128
				},{
					'product_id':5,
					'deal_price':680
				}
			]
		};
		new Vue({
			data:function(){
				return param;
			},
			el: '#product-select'
		});
	});
</script>
{/block}