{extend name="template/base.html" /}
{block name="content"}
<article class="f24">
	<section class="content_main">
		<template id="com-1">
			<ul class="list-page">
				<li v-for="item in list" :key="item.id" :id="item.id" @click="goDetail">{{item.name}}</li>
			</ul>
		</template>
	</section>
	<div id="dynamic-component-demo" class="demo"><button class="dynamic-component-demo-tab-button">
		Home
	</button><button class="dynamic-component-demo-tab-button dynamic-component-demo-tab-button-active">
		Posts
	</button><button class="dynamic-component-demo-tab-button">
		Archive
	</button> <div class="dynamic-component-demo-tab">Posts component</div></div>
</article>
{/block}
{block name="common"}{/block}
{block name="footer"}{/block}
{block name="suffix-script"}
<script type="text/javascript">
	Vue.component('com-1', {
		template: '#com-1',
		data: function () {
			return {
				count: 0
			}
		},
		methods: {
			addCount: function () {
				this.count += 1;
			}
		}
	});
	var vm = new Vue({
		el: '#app'
	});
</script>
{/block}