{extend name="template/base.html" /}
{block name="content"}
<article class="f24">
	<div id="app">
		<login
		></login>
	</div>
</article>
{/block}
{block name="common"}{/block}
{block name="login_dialog"}
{include file="../../api/public/vue/components/login.html" /}
{/block}
{block name="footer"}{/block}
{block name="css-customize"}
{/block}
{block name="script"}
<script type="text/javascript">
	$(function(){
		new Vue({
			el: '#app',
			data:function(){
				return {};
			},methods: {
				login_succeed_call_back:function(){
					console.log(123);
				}
			}
		});
	});
</script>
{/block}