{extend name="template/base.html" /}
{block name="content"}
<article class="f24">
	<div id="app">
		<component-a></component-a>
		<component-b></component-b>
		<component-c></component-c>
	</div>
</article>
{/block}
{block name="common"}{/block}
{block name="footer"}{/block}
{block name="css-customize"}
{/block}
{block name="suffix-script"}
<script type="text/javascript">
	Vue.component('component-a', {});
	Vue.component('component-b', {});
	Vue.component('component-c', {});
	new Vue({ el: '#app' });
</script>
{/block}