{extend name="template/base.html" /}
{block name="content"}
<article class="f24">
	<section class="content_main">
		<template>
			<ul class="list-page">
				<li v-for="item in list" :key="item.id" :id="item.id" @click="goDetail">{{item.name}}</li>
			</ul>
		</template>
	</section>
</article>
{/block}
{block name="common"}{/block}
{block name="footer"}{/block}
{block name="suffix-script"}
<script type="text/javascript">
	Vue.component('com-1', {
		template: '#com-1',
		data: function () {
			return {
				count: 0
			}
		},
		methods: {
			addCount: function () {
				this.count += 1;
			}
		}
	});
	Vue.component('com-2', {
		template: '#com-2',
		props: {
			count: 0
		}
	});
	var vm = new Vue({
		el: '#app'
	});
</script>
{/block}