{extend name="template/base.html" /}
{block name="content"}
<div class="frame">
	<div id="div1"></div>
	<div id="div2"></div>
</div>
{/block}
{block name="common"}

{/block}
{block name="footer"}
{/block}
{block name="suffix-script"}
<style>
	.frame {
		margin: 50px 100px 500px 50px;
		width: 400px;
		height: 300px;
		background-color: yellow;
	}
	#div1 {
		position: absolute;
		width: 100px;
		height: 50px;
		top: 3px;
		background-color: blue;
	}
	#div2 {
		width: 200px;
		height: 100px;
		background-color: green;
	}
</style>
<script type="text/javascript">
</script>
{/block}