{extend name="template/base.html" /}
{block name="content"}
<article class="f24">
<section class="module-navigation ">
	<div>
		<ul class="goods_list list">
			<li data-id="73" data-buy_type="1" id="li-id-73">
				<div class="top_radius f20 top_module">
					<div class="columns_flex l-r-sides">
						<div>
							<span class="red">￥<price class="sale_price">1.00</price></span>
						</div>
						<div>
							<a class="qrcode_share" href="javascript:void(0);"></a>
						</div>
					</div>
					<div class="title_name goods_title  f28">
							<span class="hot">
								<img src="https://www.worldview.com.cn/static/common/img/hot.png" alt="">
							</span>
						<!--<p class="title_name goods_title  f28"></p>-->
						玻尿酸活性肽妊娠纹修护冻干组 冻干粉+原液 紧致肌肤 预防减少妊娠纹						</div>
					<!--<p class="specification_text">（冻干粉200mg+原液10ml)&times;12组/盒</p>
                    <p class="product_intro">产品蕴含高纯度医药级保湿成分，能深入肌底补充水分，改善干燥；同时含有多种美容肽，有效激活胶原成纤维组织，促进表皮细胞的更新，紧致提亮，从根源上改善妊娠纹。</p>-->
					<div class="tags_item columns_flex l-r-sides">
						<div>
							<span>紧肤</span>
							<span>预防孕纹</span>
							<span>冻干粉</span>
						</div>
						<div class="tags_item_r">
							<a class="collection" href="javascript:;"><span class="icon"></span><span class="text">收藏</span></a>
							<a class="share" href="javascript:;"><span class="icon"></span>分享</a>
						</div>
					</div>
				</div>
				<div class="content-padding">
					<p class="top_b_text wk_notice separation">[品牌定制须知] 品牌定制利润为王！维雅生物药妆精选优质项目产品任你选，帮助用户开启自主品牌可持续发展经营！用户在线选购产品并支付品牌定制单，其他全部交给维雅品牌定制服务团队。</p>
					<div class="columns_flex l-r-sides separation">
						<div class="mid_module_left">
							<img src="https://www.worldview.com.cn/static/common/img/wy_dz.png" alt="">
							<div>
								<span class="left count-down-icons"></span>
								<div class="d-r">
									<p class="friday_end">品牌定制<span>.</span>周五截止</p>
									<div id="countDownBox" class="count_down_box">
										<span class="day">1</span>天
										<span class="hour">06</span>小时
										<span class="minute">52</span>分
										<span class="second">07</span>秒
									</div>
								</div>
							</div>
						</div>
						<div class="mid_module_right">
							<span><span class="item end_time"></span>周五结单</span>
							<span><span class="item factory"></span>品质工厂</span>
						</div>
					</div>
					<div class="separation_item">
						<a href="javascript:void(0);" class="sample_purchase right-arrow">样品购买
							<input type="hidden" class="minimum_sample_quantity" value="1">
							<input type="hidden" class="sample_price" value="1.00">
						</a>
					</div>
					<div class="columns_flex l-r-sides separation_item">
						<a href="javascript:;" class="set_brand right-arrow">设定我的品牌：<span class="brand_name" data-id=""></span></a>
					</div>
					<div id="product-counter">
						<product-counter></product-counter>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
</article>
{/block}
{block name="common"}
	{include file="../../api/public/vue/components/footer-cart-menu.html" /}
	{include file="../../api/public/vue/components/product-counter.html" /}
{/block}
{block name="footer"}
	<div id="foot_cart_menu">
		<footer-cart-menu></footer-cart-menu>
	</div>
{/block}
{block name="suffix-script"}
<script type="text/javascript">
	$(function(){
		new Vue({ el: '#foot_cart_menu' });
		new Vue({ el: '#product-counter' });
	});
</script>
{/block}