{extend name="template/base.html" /}
{block name="content"}
<article class="f24">
	<div id="app">
		{{message }}<br>
		<button v-on:click="showData">测试jquery加载数据</button>
		<table border="1">
			<tr v-for="menu in menus">
				<td>{{menu.name}}</td>
				<td>{{menu.class}}</td>
			</tr>
		</table>
	</div>
</article>
{/block}
{block name="common"}{/block}
{block name="footer"}{/block}
{block name="suffix-script"}
<script type="text/javascript">
	$(function(){
		var unlockingFooterCart = JSON.parse('{$unlockingFooterCart}');
		console.log(unlockingFooterCart);
		console.log(typeof unlockingFooterCart);
		var vm = new Vue({
			el: "#app",
			data: {
				message: "",
				menus: unlockingFooterCart
			},
			methods:{
				showData:function () {
//					var url = action;
//					$.ajax({
//						url: url,
//						data: {},
//						type: 'post',
//						beforeSend: function(xhr){
//							$('.loading').show();
//						},
//						error:function(xhr){
//							$('.loading').hide();
//							dialog.error('AJAX错误');
//						},
//						success: function(data){
//							$('.loading').hide();
//							vm.menus = data.menu;
//						}
//					});
//					vm.menus = menus;
				}
			}
		});
	});
</script>
{/block}