{extend name="template/base.html" /}
{block name="content"}
<article class="f24">
	<div id="app">
		{{message}}
	</div>
	<div id="app-2">
		<span v-bind:title="message">
			鼠标悬停几秒钟查看此处动态绑定的提示信息！
		</span>
	</div>
	<div id="app-3">
		<p v-if="seen">现在你看到我了</p>
	</div>
</article>
{/block}
{block name="common"}{/block}
{block name="footer"}{/block}
{block name="css-customize"}
{/block}
{block name="script"}
<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data: {
			message: 'Hello Vue!'
		}
	})
	var app2 = new Vue({
		el: '#app-2',
		data: {
			message: '页面加载于 ' + new Date().toLocaleString()
		}
	})
	var app3 = new Vue({
		el: '#app-3',
		data: {
			seen: true
		}
	})
</script>
{/block}