{extend name="template/base.html" /}
{block name="css-customize"}
<!--<link rel="stylesheet" href="store_css/main.css">-->
{/block}
{block name="content"}
<article class="scroll-wrapper f24">
	<section class="top_nav_fixed store-top-nav">
		{include file="store/store_head" /}
		<div class="top_menu_box store_menu_box">
			<div class="top_menu_list columns_flex flex-both-side">
				<a href="javascript:void(0);" class="current">商品</a>
				<a href="javascript:void(0);">消息</a>
				<a href="javascript:void(0);">文章</a>
				<a href="javascript:void(0);">小视频</a>
				<a href="javascript:void(0);">视频</a>
				<a href="javascript:void(0);">直播</a>
			</div>
		</div>
	</section>
	<div class="content-wrapper">
		<ul class="columns_flex flex-both-side scroller-container" id="list">
		</ul>
		{include file="template/loading.html" /}
	</div>
</article>
{/block}
{block name="common"}
{include file="template/footer_menu_msy_store.html" /}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
<script type="text/javascript">
	var config = {
		url:module+'Goods/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1
	};
	var postData = {
		pageSize:6,
		pageType:'store'
	};
	$(function(){
		//初始化商品列表
		var storeId = {$storeId};
		postData.storeId = storeId;
		getPagingList(config,postData);

		//下拉加载
		 window.addEventListener('scroll',function(){
		 	if(config.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
		 		config.loadTrigger = false;
		 		getPagingList(config,postData);
		 	}
		 });
	});
</script>
{/block}