{extend name="../../api/public/template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="api_common_css/fenlei_admin.css">
<link rel="stylesheet" href="api_common_css/skin_admin.css">
<link rel="stylesheet" href="api_common_css/user_admin.css">
{/block}
<!-- 公共模块-->
{block name="common"}{/block}
<!-- 后置自定义js -->
{block name="suffix-script"}
<script type="text/javascript" src="api_common_js/dialog_admin.js"></script>
<script type="text/javascript" src="api_common_js/paging_admin.js"></script>
{/block}