<!DOCTYPE HTML>
<html><head>
    {block name="css-customize"}{/block}
    <link type="text/css" rel="stylesheet" href="public_admin_common_css/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="public_admin_common_css/skin.css" />
    <!--前置自定义js-->
    {block name="pre-script"}{/block}
    <script type="text/javascript" src="public_js/jquery.min.js"></script>
</head><body>
{block name="content"}{/block}
{block name="footer"}
<footer class="f24">
    <a href="http://www.miitbeian.gov.cn">
        <span class="icp_icon">Copyright@广东美尚网络科技有限公司</span>
        <span class="icp_icon">粤ICP备18130945号-1</span>
    </a>
</footer>
{/block}
<script type="text/javascript" src="public_admin_common_js/public.js"></script>
<script type="text/javascript" src="public_admin_common_js/common.js"></script>
<script type="text/javascript" src="public_admin_common_js/dialog.js"></script>
<script type="text/javascript" src="public_admin_common_js/paging.js"></script>
<script type="text/javascript" src="hui_lib/layer/2.4/layer.js"></script>
<!--自定义js-->
{block name="script"}{/block}
<script type="text/javascript">
    var domain = '{:request()->domain()}'+'/'+'index.php/';
    var module = domain + '{:request()->module()}/';
    var controller = module + '{:request()->controller()}/';
    var action = controller + '{:request()->action()}';
    var uploads = '{:request()->domain()}'+'/uploads/';
    $(function(){
    });
</script>
</body></html>