<!DOCTYPE HTML>
<html><head>
    {block name="css"}{/block}
    <!--前置自定义js-->
    {block name="pre-script"}{/block}
    <script type="text/javascript" src="hui_lib/jquery/1.9.1/jquery.min.js"></script>
</head><body>
{block name="content"}
{/block}
<script type="text/javascript" src="public_admin_common_js/public.js"></script>
<script type="text/javascript" src="public_admin_common_js/common.js"></script>
<script type="text/javascript" src="public_admin_common_js/dialog.js"></script>
<!--自定义js-->
{block name="script"}{/block}
<script type="text/javascript">
    var domain = '{:request()->domain()}'+'/'+'index.php/';
    var module = domain + '{:request()->module()}/';
    var controller = module + '{:request()->controller()}/';
    var action = controller + '{:request()->action()}';
    var uploads = '{:request()->domain()}'+'/uploads/';
    $(function(){
    });
</script>
</body></html>