<!--增加商标-->
<section class="add_brand_tpl bg-eae pt-5" style="display:none;">
    <form method="post" class="bg-fff brand_form">
        <!--<input type="hidden" class="" name="address_id" value="" />-->
        <div class="box-flex clearfixed">
            <input type="text" name="brand_name" class="input-filed" placeholder="商标名称" value="">
        </div>
        <div class="box-flex clearfixed">
            <select name="brand_type" class="input-filed">
                <option value="">商标类别</option>
                <option value="食品">食品</option>
                <option value="保健">保健</option>
                <option value="护肤">护肤</option>
            </select>
        </div>
        <div class="upload-picture-module box-flex f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg" >
					<img class="upload_img" src="" alt="">
					<input type="hidden" name="brand_logo" class="img" data-src="" value=""/>
				</div>
			</div>
            <div class="brand_txt">商标logo</div>
		</div>
        <div class="upload-picture-module box-flex f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg">
					<img class="upload_img" src="" alt="">
					<input type="hidden" name="trademark_certificate" class="img" data-src="" value=""/>
				</div>
			</div>
            <div class="brand_txt">
                商标证或受理通知书
            </div>
		</div>
        <div class="upload-picture-module f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg">
					<img class="upload_img" src="" alt="">
					<input type="hidden" name="trademark_authorization" class="img" data-src="" value=""/>
				</div>
			</div>
            <div class="brand_txt">
                如非自有商标需所有权者授权
            </div>
		</div>
    </form>
</section>
<!--设定品牌列表-->
<section class="brand_list_layer" style="display:none;">
    <ul class="list brand_list">
        
    </ul>
    <a href="javascript:void(0);" class="add_brand">增加商标</a>
</section>
<script type="text/javascript" src="public_js/uploadImgToTemp.js"></script>
<script>
//设定品牌
$('body').on('click','.set_brand',function () {
    var brand_list_layer=$('.brand_list_layer').html();
    layer.open({
        title:['设定品牌','border-bottom:1px solid #d9d9d9;'],
        type:1,
        anim:'up',
        className:'setBrandLayer',
        content:brand_list_layer,
        success:function(){
            alert(1);
            $('.setBrandLayer li').each(function(index,val){
                _this.on('click',function(){
                    alert(111);
                //_this.parents('.item_addr').addClass('active').siblings().removeClass('active');
                var brandName=$(this).find('input[name="brand_name"]').val();
                $('.brand_name').text(brandName);
                setTimeout(function(){
                    layer.closeAll();
                },1000)
                return false;
                })
            });

        },
        yes:function(index){
            // addressLayer('增加商标');
            layer.close(index);
        }
    })
});
//增加商标
// $('body').on('click','.add_brand',function () {
//     var title='增加商标';
//     addressLayer(title);
// });
//修改商标
// $('body').on('click','.edit_brand',function () {
//     var title='修改商标';
//     addressLayer(title);
// });
//删除商标
// $('body').on('click','.setBrandLayer .delete_brand',function () {
//     var _this=$(this);
//     layer.open({
//         title:['删除商标','border-bottom:1px solid #d9d9d9;'],
//         content:'确定删除商标吗？',
//         btn:['确定','取消'],
//         yes:function(index){
//             _this.parents('li').remove();
//             layer.close(index);
//         }
//     })
// })
//增加商标
    var addBrandInfo=$('.add_brand_tpl').html();
    $('body').on('click','.add_brand',function () {
        layer.open({
            title:['增加商标','border-bottom:1px solid #d9d9d9;'],
            type:1,
            anim:'up',
            className:'setBrandLayer',
            content:addBrandInfo,
            btn:['确定','取消'],
            success:function(){
                
            },
            yes:function(index){
                var postData  = $(".setBrandLayer .brand_form").serializeObject();
                var brandTpl=$('.brandListTpl').html();
                console.log(postData);
            
                var content='';
                if(!postData.brand_name){
                    content='请填写商标名称';
                }else if(!postData.brand_type){
                    content='请选择商标类别';
                }else if(!postData.brand_logo){
                    content='请上传商标logo';
                }else if(!postData.trademark_certificate){
                    content='请上传商标证或受理通知书';
                }else if(!postData.trademark_authorization){
                    content='请上传商标所有权者授权书';
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
                var config = {
                    url:module + 'Brand/edit',
                    postData:postData,
                    index:index
                };
                dialogFormAdd(config);
            
            }
        });
    });
    //修改商标
    $('body').on('click','.edit_brand',function(){
        var _this=$(this).parents('.list li');
        layer.open({
            title:['修改商标','border-bottom:1px solid #d9d9d9;'],
            type:1,
            anim:'up',
            className:'setBrandLayer',
            content:addBrandInfo,
            btn:['确定','取消'],
            success:function(){
                copyDataByName(_this,$('.setBrandLayer .brand_form'));
                var brand_logo=_this.find('input[name="brand_logo"]').val();
                var trademark_certificate=_this.find('input[name="trademark_certificate"]').val();
                var trademark_authorization=_this.find('input[name="trademark_authorization"]').val();
                $('.setBrandLayer').find('input[name="brand_logo"]').prev().attr('src',uploads+brand_logo);
                $('.setBrandLayer').find('input[name="trademark_certificate"]').prev().attr('src',uploads+trademark_certificate);
                $('.setBrandLayer').find('input[name="trademark_authorization"]').prev().attr('src',uploads+trademark_authorization);
            },
            yes:function(index){
                var postData  = $(".setBrandLayer .brand_form").serializeObject();
                var brandTpl=$('.brandListTpl').html();
                console.log(postData);
            
                var content='';
                if(!postData.brand_name){
                    content='请填写商标名称';
                }else if(!postData.brand_type){
                    content='请选择商标类别';
                }else if(!postData.brand_logo){
                    content='请上传商标logo';
                }else if(!postData.trademark_certificate){
                    content='请上传商标证或受理通知书';
                }else if(!postData.trademark_authorization){
                    content='请上传商标所有权者授权书';
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
                postData.id = _this.data('id');
                var config = {
                    url:module + 'Brand/edit',
                    postData:postData,
                    modifyObj:_this,
                    index:index
                };
                dialogFormEdit(config);
            }
        });
    });
//新增和修改品牌弹窗
var addressInfo=$('.section-address').html();
function addressLayer(title,data){
    layer.open({
        title:[title,'border-bottom:1px solid #d9d9d9;'],
        type:1,
        anim:'up',
        className:'setBrandLayer',
        content:addressInfo,
        btn:['确定','取消'],
        success:function(){
            if(data){
                $ ('input[name="consignee"]').val(data.layer_consignee);
                $ ('input[name="mobile"]').val(data.layer_mobile);
                $ ('input[name="detail_address"]').val(data.layer_detail_address);
                $ ('input[name="address_id"]').val(data.layer_id);
                var region = [];
                region.push(data.province);
                region.push(data.city);
                region.push(data.area);
                $('.addressLayer .area_address').setArea(region);
                if(data.is_default==1){
                    $('.addressLayer .myswitch').addClass('myswitched');
                    $('.addressLayer .myswitch').attr('data-off',1);
                }
            }
            
        },
        yes:function(index){
        //     var area_address =$('.addressLayer .area-address-name').getArea();
            var postData  = $(".setBrandLayer .brand_form").serializeObject();
            var brandTpl=$('.brandListTpl').html();
            var len=$('.setBrandLayer li').length;
            console.log(postData);
            if(!len){
                $('.brand_list').append(brandTpl);
            }else{
                $('.brand_list li:last').after(brandTpl);
            }
            $('.brand_list li:last').find('.brand_name').text(postData.brand_name);
            $('.brand_list li:last').find('.brand_type').text(postData.brand_type);
            $('.brand_list li:last').find('.brand_logo').attr('src',postData.brand_logo);
            layer.close(index);
        //     var content='';
        //     if(!postData.consignee){
        //         content='请填写收货人姓名';
        //     }else if(!register.phoneCheck(postData.mobile)){
        //         content='请填写正确的手机号码';
        //     }else if(!area_address){
        //         content='请选择地区';
        //     }else if(!postData.detail_address){
        //         content='请填写详细地址';
        //     }
        //     if(content){
        //         dialog.error(content);
        //         return false;
        //     }
        //     postData.is_default = $('.addressLayer .myswitch').attr('data-off');
        //     postData.province = area_address[0];
        //     postData.city = area_address[1];
        //     postData.area = area_address[2];
        //     //添加或修改地址
        //     var _this = $(this);
        //     _this.addClass("nodisabled");//防止重复提交
        //     var url = module + '/Address/edit';
        //     $.ajax({
        //         url: url,
        //         data: postData,
        //         type: 'post',
        //         beforeSend: function(){
        //             $('.loading').show();
        //         },
        //         error:function(){
        //             $('.loading').hide();
        //             dialog.error('AJAX错误');
        //         },
        //         success: function(data){
        //             _this.removeClass("nodisabled");//删除防止重复提交
        //             $('.loading').hide();
        //             if(data.status == 0){

        //             }else{
        //                     $('#address_info').find('.item_addr,.add_address').remove();
        //                     $('#address_info').append(data);
        //                     var region = [];
        //                     region.push(postData.province);
        //                     region.push(postData.city);
        //                     region.push(postData.area);
        //                     $('.item_addr .area_address').setArea(region);
        //                     $('.edit_operate').find('.address_edit').hide();
        //                     var len=$('.delivery_address .item_addr').length;
                            
        //                     if(!postData.address_id){
        //                         if(!len){
        //                             $('.delivery_address ').append(data);
        //                         }else{
        //                             $('.delivery_address div:first').before(data);
        //                         }
                                    
        //                     }else{
        //                         $.each($('.delivery_address .item_addr'),function(index,val){
        //                             var _thisId=$(this).find('.address_id').val();
        //                             if(postData.address_id==_thisId){
                                        
        //                                 $(this).after(data);
        //                                     $(this).remove();
        //                             }
        //                         })
        //                     }
        //                     layer.closeAll();
        //             }
        //         }
        //     });
        // },
        // no:function(){
        //     $('.edit_operate').find('.address_edit').hide();
        //     layer.closeAll();
        // }
        }
    })
}

</script>