<!--增加商标-->
<section class="add_brand_tpl bg-eae pt-5" style="display:none;">
    <form method="post" class="bg-fff brand_form">
        <!--<input type="hidden" class="" name="address_id" value="" />-->
        <div class="box-flex clearfixed">
            <input type="text" name="brand_name" class="input-filed" placeholder="商标名称" value="">
        </div>
        <div class="box-flex clearfixed">
            <select name="brand_type" class="input-filed">
                <option value="">商标类别</option>
                <option value="食品">食品</option>
                <option value="保健">保健</option>
                <option value="护肤">护肤</option>
            </select>
        </div>
        <div class="upload-picture-module box-flex f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg" >
					<img class="upload_img" src="" alt="">
					<input type="hidden" name="brand_logo" class="img" data-src="" value=""/>
				</div>
			</div>
            <div class="brand_txt">商标logo</div>
		</div>
        <div class="upload-picture-module box-flex f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg">
					<img class="upload_img" src="" alt="">
					<input type="hidden" name="trademark_certificate" class="img" data-src="" value=""/>
				</div>
			</div>
            <div class="brand_txt">
                商标证或受理通知书
            </div>
		</div>
        <div class="upload-picture-module f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg">
					<img class="upload_img" src="" alt="">
					<input type="hidden" name="trademark_authorization" class="img" data-src="" value=""/>
				</div>
			</div>
            <div class="brand_txt">
                如非自有商标需所有权者授权
            </div>
		</div>
    </form>
</section>
<!--设定品牌列表-->
<section class="brand_list_layer" style="display:none;">
    <ul class="list brand_list">
        
    </ul>
    <a href="javascript:void(0);" class="add_brand">增加商标</a>
</section>
<script type="text/javascript" src="public_js/uploadImgToTemp.js"></script>
<script>
//设定品牌
$('body').on('click','.set_brand',function () {
    var brand_list_layer=$('.brand_list_layer').html();
    layer.open({
        title:['设定品牌','border-bottom:1px solid #d9d9d9;'],
        type:1,
        anim:'up',
        className:'setBrandLayer',
        content:brand_list_layer,
        success:function(){
            

        },
        yes:function(index){
            // addressLayer('增加商标');
            layer.close(index);
        }
    })
});
//增加商标
// $('body').on('click','.add_brand',function () {
//     var title='增加商标';
//     addressLayer(title);
// });
//修改商标
// $('body').on('click','.edit_brand',function () {
//     var title='修改商标';
//     addressLayer(title);
// });
    //增加商标
    var addBrandInfo=$('.add_brand_tpl').html();
    $('body').on('click','.add_brand',function () {
        layer.open({
            title:['增加商标','border-bottom:1px solid #d9d9d9;'],
            type:1,
            anim:'up',
            className:'setBrandLayer',
            content:addBrandInfo,
            btn:['确定','取消'],
            success:function(){
                
            },
            yes:function(index){
                var postData  = $(".setBrandLayer .brand_form").serializeObject();
                var brandTpl=$('.brandListTpl').html();
                console.log(postData);
            
                var content='';
                if(!postData.brand_name){
                    content='请填写商标名称';
                }else if(!postData.brand_type){
                    content='请选择商标类别';
                }else if(!postData.brand_logo){
                    content='请上传商标logo';
                }else if(!postData.trademark_certificate){
                    content='请上传商标证或受理通知书';
                }else if(!postData.trademark_authorization){
                    content='请上传商标所有权者授权书';
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
                var config = {
                    url:module + 'Brand/edit',
                    postData:postData,
                    index:index
                };
                dialogFormAdd(config);
            
            }
        });
    });
    //修改商标
    $('body').on('click','.edit_brand',function(event){
        event.stopPropagation();
        var _this=$(this).parents('.list li');
        layer.open({
            title:['修改商标','border-bottom:1px solid #d9d9d9;'],
            type:1,
            anim:'up',
            className:'setBrandLayer',
            content:addBrandInfo,
            btn:['确定','取消'],
            success:function(){
                copyDataByName(_this,$('.setBrandLayer .brand_form'));
                var brand_logo=_this.find('input[name="brand_logo"]').val();
                var trademark_certificate=_this.find('input[name="trademark_certificate"]').val();
                var trademark_authorization=_this.find('input[name="trademark_authorization"]').val();
                $('.setBrandLayer').find('input[name="brand_logo"]').prev().attr('src',uploads+brand_logo);
                $('.setBrandLayer').find('input[name="trademark_certificate"]').prev().attr('src',uploads+trademark_certificate);
                $('.setBrandLayer').find('input[name="trademark_authorization"]').prev().attr('src',uploads+trademark_authorization);
            },
            yes:function(index){
                var postData  = $(".setBrandLayer .brand_form").serializeObject();
                var brandTpl=$('.brandListTpl').html();
                console.log(postData);
            
                var content='';
                if(!postData.brand_name){
                    content='请填写商标名称';
                }else if(!postData.brand_type){
                    content='请选择商标类别';
                }else if(!postData.brand_logo){
                    content='请上传商标logo';
                }else if(!postData.trademark_certificate){
                    content='请上传商标证或受理通知书';
                }else if(!postData.trademark_authorization){
                    content='请上传商标所有权者授权书';
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
                postData.id = _this.data('id');
                var config = {
                    url:module + 'Brand/edit',
                    postData:postData,
                    modifyObj:_this,
                    index:index
                };
                dialogFormEdit(config);
            }
        });
    });
    //设定品牌
    $('body').on('click','.setBrandLayer li',function(){
        //_this.parents('.item_addr').addClass('active').siblings().removeClass('active');
        var brandName=$(this).find('input[name="brand_name"]').val();
        $('.brand_name').text(brandName);
        setTimeout(function(){
            layer.closeAll();
        },1000)
        return false;
    });
    //删除商标
    $('body').on('click','.delete_brand',function (event) {
        event.stopPropagation();
        var _this=$(this);
        layer.open({
            title:['删除商标','border-bottom:1px solid #d9d9d9;'],
            content:'确定删除商标吗？',
            btn:['确定','取消'],
            yes:function(index){
                _this.parents('li').remove();
                layer.close(index);
            }
        })
    })
</script>