{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
{/block}
{block name="content"}
<article class="f24">
	<section class="">
		<ul class="nav_menu weiya_menu">
            <li class="current">
                <a href="javascript:void(0);">定制需求留言</a>
            </li>
            <li>
                <a href="javascript:void(0);">在线客服咨询</a>
            </li>
            <li>
                <a href="javascript:void(0);">部分案例分享</a>
            </li>
        </ul>
	</section>
    <section class="content_main">
        <div class="weiya_item">
            <div class="msg_content">
                <div class="content-padding msg_item ">
                    <div class="m_l c_mobile">
                        <p>品牌定制顾问</p>
                        <p>宫学莹：<a href="tel:13711326631">13711326631</a></p>
                        <p>周清萍：<a href="tel:13660613163">13660613163</a></p>
                    </div>
                    <div class="m_l c_mobile">
                        <p>品牌定制客服</p>
                        <p>叶雯雯：<a href="tel:18820019781">18820019781</a></p>
                    </div>
                </div>
                <form>
                    <div class="msg_item">
                        <input class="input-filed" type="text" name="" value="" placeholder="你的姓名">
                    </div>
                    <div class="msg_item">
                        <input class="input-filed" type="tel" name="" value="" placeholder="手机号码">
                    </div>
                    <div class="msg_item">
                        <textarea class="input-filed" rows="" cols="" placeholder="留言文字..."></textarea>
                    </div>
                </form>
                <a href="javascript:void(0);" class="submit_msg">递交留言</a>
            </div>
        </div>
        <div class="weiya_item "></div>
		<div class="weiya_item hide">
			<div class="columns_flex l-r-sides top_title">
				<span>
					<img class="left" src="weiya_img/wyyz_logo.png" alt="">
					<span class="cpy_name">维雅生物科技</span>
				</span>
				<span>2017-12-8 9:47</span>
			</div>
			<ul>
				<li>
					<div class="more-text-box">
						<p class="more-text"><span class="intro_title">#小分子活性肽系列#</span>小分子美容多肽具有结构简单活性稳定、分子量小极易透皮吸收，护肤作用机理明确、质量可控、安全性高无副作用等特点，成为生物药妆配方系列中最广泛配伍使用的原料，也是国际大牌护肤品牌的最爱，可应用于原液、面膜、乳霜等剂型，研发各类医学护肤功能产品.</p>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp01.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp02.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp03.jpg" alt="">
						</a>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp04.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp05.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp06.jpg" alt="">
						</a>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp07.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp08.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp09.jpg" alt="">
						</a>
					</div>
				</li>
				<li>
					<div class="more-text-box">
						<p class="more-text"><span class="intro_title">#玻尿酸活性肽原液#</span>上新，超浓缩的原液精华，富含EGF、aFGF、bFGF生长因子、玻尿酸、多种天然植物等成分，能迅速修护受损和老化肌肤，促进表皮细胞更新，增厚鲜嫩皮膜，重建天然屏障，使肌肤细嫩弹滑、富有光泽</p>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp10.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp11.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp12.jpg" alt="">
						</a>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp13.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp14.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp15.jpg" alt="">
						</a>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp16.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp17.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp18.jpg" alt="">
						</a>
					</div>
				</li>
			</ul>
		</div>
    </section>
</article>
<section class="bottom_nav_fixed bottom_white">
	<nav class=" foot_nav_bar">
		<ul class="columns_flex">
			<li class="each_column">
				<a href="{:url('Index/index')}">
					<span class="store f_icon"></span>
					<span class="f_txt">药妆定制</span>
				</a>
			</li>
			<li class="each_column ">
				<a href="{:url('Company/index')}">
					<span class="practitioners f_icon"></span>
					<span class="f_txt">走进维雅</span>
				</a>
			</li>
			<li class="each_column current">
				<a href="{:url('Consultation/index')}">
					<span class="business f_icon"></span>
					<span class="f_txt">业务咨询</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('Cart/index')}">
					<span class="cart f_icon"></span>
					<span class="f_txt">采购车</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('UserCenter/index')}">
					<span class="my f_icon"></span>
					<span class="f_txt">我的</span>
				</a>
			</li>
		</ul>
	</nav>
</section>
{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Fimtwu6FDRrHWvg3oq44YCw0c0YonNpv"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script type="text/javascript">
	$(function(){
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			autoplay:true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
		//查看文本
		$('.more-text-box').moreText({
			mainCell:".more-text",
			openBtn:'显示全部>'
		});
		$('.weiya_menu li').on('click',function(){
			$(this).addClass('current').siblings().removeClass('current');
			$('.weiya_item').hide().eq($(this).index()).show();
		});    
	});
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例
	// 初始化地图,设置中心点坐标和地图级别
	//map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  
	
	//map.centerAndZoom("广州",12); 
	function setPlace(targetCity){
		map.clearOverlays();    //清除地图上所有覆盖物
		function myFun(){
			var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
			map.centerAndZoom(pp,12);
			//偏移中心居中
			map.panBy(205,165);
			//添加标注
			map.addOverlay(new BMap.Marker(pp));    
			//设置地图显示的城市 此项是必须设置的
			//map.setCurrentCity("广州市经济技术开发区科学城开源大道206号"); 
		}
		

		var local = new BMap.LocalSearch(map, { //智能搜索
		onSearchComplete: myFun
		});
		local.search(targetCity);	
	}
	// var geolocation = new BMap.Geolocation(); 
    // 	geolocation.getCurrentPosition(function(r){ 
	// 		if(this.getStatus() == BMAP_STATUS_SUCCESS){ 
	// 			var mk = new BMap.Marker(r.point); 
	// 			map.addOverlay(mk); 
	// 			//map.panTo(r.point);//地图中心点移到当前位置 
	// 			var latCurrent = r.point.lat; 
	// 			var lngCurrent = r.point.lng; 
	// 			alert('我的位置：'+ latCurrent + ',' + lngCurrent);
	
	// 			location.href="http://api.map.baidu.com/direction?origin="+latCurrent+","+lngCurrent+"&destination=39.89778,116.709684&mode=driving&region=广州市经济技术开发区科学城开源大道&output=html"; 
	
	// 		} 
	// 		else { 
	// 			alert('failed'+this.getStatus()); 
	// 		}         
	// 	},{enableHighAccuracy: true}) 

	// 	map.addOverlay(marker);   
	// 	var licontent="<b>健龙森羽毛球馆</b><br>";   
	// 		licontent+="<span><strong>地址：</strong>北京市通州区滨河中路108号</span><br>";   
	// 		licontent+="<span><strong>电话：</strong>(010)81556565 / 6969</span><br>";           
	// 	var opts = {  
	// 		width : 200, 
	// 		height: 80, 
	// 	};          
	// 	var  infoWindow = new BMap.InfoWindow(licontent, opts);   
	// 	marker.openInfoWindow(infoWindow);   
	// 	marker.addEventListener('click',function(){ 
	// 		marker.openInfoWindow(infoWindow); 
	// 	});
	//添加地图类型控件
	map.addControl(new BMap.MapTypeControl({
		mapTypes:[
			BMAP_NORMAL_MAP,
			BMAP_HYBRID_MAP
		]}));	  
	
	//开启鼠标滚轮缩放
	map.enableScrollWheelZoom(true); 
	//window.onload=function(){
	var addr="广州市经济技术开发区科学城开源大道206号";
		setPlace(addr);
	//}
</script>
{/block}