{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
{/block}
{block name="content"}
<article class="f24">
	<section class="">
		<ul class="nav_menu weiya_menu">
            <li class="current">
                <a href="javascript:void(0);">定制需求留言</a>
            </li>
            <li>
                <a href="javascript:void(0);">在线客服咨询</a>
            </li>
            <li>
                <a href="javascript:void(0);">部分案例分享</a>
            </li>
        </ul>
	</section>
    <section class="content_main">
        <div class="weiya_item">
            <div class="msg_content">
                <div class="content-padding msg_item ">
                    <div class="m_l c_mobile">
                        <p>品牌定制顾问</p>
                        <p>宫学莹：<a href="tel:13711326631">13711326631</a></p>
                        <p>周清萍：<a href="tel:13660613163">13660613163</a></p>
                    </div>
                    <div class="m_l c_mobile">
                        <p>品牌定制客服</p>
                        <p>叶雯雯：<a href="tel:18820019781">18820019781</a></p>
                    </div>
                </div>
                <form>
                    <div class="msg_item">
                        <input class="input-filed" type="text" name="" value="" placeholder="你的姓名">
                    </div>
                    <div class="msg_item">
                        <input class="input-filed" type="tel" name="" value="" placeholder="手机号码">
                    </div>
                    <div class="msg_item">
                        <textarea class="input-filed leaving_msg" rows="" cols="" placeholder="留言文字..."></textarea>
                    </div>
                </form>
                <a href="javascript:void(0);" class="submit_msg">递交留言</a>
            </div>
        </div>
        <div class="weiya_item "></div>
		<div class="weiya_item hide">
			<ul>
				<li>
					<div class="more-text-box">
						<p class="more-text">[案例分享] 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长江东逝水，浪花淘尽英雄。 几度夕阳红。白发渔樵江渚上，都付笑谈中。滚滚长江东逝水。</p>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp01.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp02.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp03.jpg" alt="">
						</a>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp04.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp05.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp06.jpg" alt="">
						</a>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp07.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp08.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp09.jpg" alt="">
						</a>
					</div>
				</li>
				<li>
					<div class="more-text-box">
						<p class="more-text">[案例分享] 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长江东逝水，浪花淘尽英雄。 几度夕阳红。白发渔樵江渚上，都付笑谈中。滚滚长江东逝水。</p>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp10.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp11.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp12.jpg" alt="">
						</a>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp13.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp14.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp15.jpg" alt="">
						</a>
					</div>
					<div class="dynamic_img columns_flex">
						<a>
							<img src="weiya_img/zjwy_cp16.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp17.jpg" alt="">
						</a>
						<a>
							<img src="weiya_img/zjwy_cp18.jpg" alt="">
						</a>
					</div>
				</li>
			</ul>
		</div>
    </section>
</article>
<section class="bottom_nav_fixed bottom_white">
	<nav class=" foot_nav_bar">
		<ul class="columns_flex">
			<li class="each_column">
				<a href="{:url('Index/index')}">
					<span class="store f_icon"></span>
					<span class="f_txt">药妆定制</span>
				</a>
			</li>
			<li class="each_column ">
				<a href="{:url('Company/index')}">
					<span class="practitioners f_icon"></span>
					<span class="f_txt">走进维雅</span>
				</a>
			</li>
			<li class="each_column current">
				<a href="{:url('Consultation/index')}">
					<span class="business f_icon"></span>
					<span class="f_txt">业务咨询</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('Cart/index')}">
					<span class="cart f_icon"></span>
					<span class="f_txt">采购车</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('UserCenter/index')}">
					<span class="my f_icon"></span>
					<span class="f_txt">我的</span>
				</a>
			</li>
		</ul>
	</nav>
</section>
{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Fimtwu6FDRrHWvg3oq44YCw0c0YonNpv"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script type="text/javascript">
	$(function(){
		//查看文本
		$('.more-text-box').moreText({
			mainCell:".more-text",
			openBtn:'显示全部>'
		});
		$('.weiya_menu li').on('click',function(){
			$(this).addClass('current').siblings().removeClass('current');
			$('.weiya_item').hide().eq($(this).index()).show();
		});    
	});
</script>
{/block}