{extend name="template/base.html" /}
{block name="content"}
<!--模板区 start-->
<section id="messageListTpl" style="display:none;">
	<ul>
		<li><span class="create_time"></span></li>
		<li class="message_item others read" data-id="">
			<div class="avatar">
				<img src="public_img/default/chat_head.jpg">
			</div>
			<div class="content">
				<div class="msg"></div>
			</div>
		</li>
	</ul>
</section>
<!--模板区 end-->
<article class="f24">
	<section class="navigate">
		<ul class="nav_menu weiya_menu service_menu">
			<li>
				<a href="{:url('Consultation/index')}">定制需求留言</a>
			</li>
			<li class="current">
				<a href="{:url('OnlineService/index')}">在线客服咨询</a>
			</li>
		</ul>
	</section>
	<section id="chatLayerContainer">
		<div class="ws_chatMsg-panel flex1">
			<div class="chatMsg-ct">
				<ul class="clearfix chat_item message_list"></ul>
			</div>
		</div>
		<div class="bottom_nav_fixed chat_bottom_fixed">
			<div class="bottom_flex">
				<input class="send_out_text" type="text" name="" value="">
				<input class="send_btn" type="button" value="发送">
			</div>
		</div>
	</section>
</article>
<section class="bottom_nav_fixed bottom_white">
	<nav class="foot_nav_bar">
		<ul class="columns_flex">
			<li class="each_column">
				<a href="{:url('Index/index')}">
					<span class="store f_icon"></span>
					<span class="f_txt">药妆定制</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('Company/index')}">
					<span class="practitioners f_icon"></span>
					<span class="f_txt">走进维雅</span>
				</a>
			</li>
			<li class="each_column current">
				<a href="{:url('Consultation/index')}">
					<span class="business f_icon"></span>
					<span class="f_txt">业务咨询</span>
				</a>
			</li>
			<li class="each_column">
				<a href="javascript:void(0)" class="my_cart async_login" data-jump_url="{:url('Cart/index')}">
					<span class="cart f_icon"></span>
					<span class="f_txt">采购车</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('Mine/index')}">
					<span class="my f_icon"></span>
					<span class="f_txt">我的</span>
				</a>
			</li>
		</ul>
	</nav>
</section>
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
	var loginSign = '{$loginSign|default=""}';
	var welcomeSpeech = '{$welcomeSpeech|default=""}';
	var responseTime = '{$responseTime|default=""}';
	function on_init_call_back(data){
		//没有登录，初始化时显示欢迎词
		if(!loginSign){
			var messageUl = $('#messageListTpl').find('ul').clone();
			messageUl.find('.msg').text(welcomeSpeech);
			messageUl.find('.create_time').text(responseTime);
			$('ul.message_list').empty().append(messageUl.html());
		}
	}
	function on_msg_call_back(data) {
		var messageUl = $('#messageListTpl').find('ul').clone();
		messageUl.find('.message_item').attr('data-id',data.id);
		messageUl.find('.msg').text(data.content);
		messageUl.find('.create_time').text(data.create_time);
		if(data.avatar){
			messageUl.find('img').attr('src',uploads+data.avatar);
		}
		$('ul.message_list').append(messageUl.html());
		//聊天框滚动条置底
		messageSetBottom();
		//设置信息已读
		var postData = {};
		postData.from_id = data.from_id;
		postData.messageIds = [];
		postData.messageIds.push(data.id);
		setMessageRead($('body'),postData);
	}
	//聊天框滚动条置底
	function messageSetBottom() {
		$('#chatLayerContainer ul.message_list').scrollTop($('#chatLayerContainer ul.message_list')[0].scrollHeight);
	}
	function getListCallBack(config,data){
		if(data){
			getListDefaultCallBack(config,data);
			//设置信息已读
			var postData = {};
			postData.messageIds = [];
			$.each($('li.message_item.others.unread'),function(){
				var _thisMessageLi = $(this);
				postData.messageIds.push(_thisMessageLi.data('id'));
				postData.from_id = _thisMessageLi.data('from_id');
			});
			setMessageRead($('body'),postData);
		}else{
			//无聊天记录
			if(loginSign){
				var messageUl = $('#messageListTpl').find('ul').clone();
				messageUl.find('.msg').text(welcomeSpeech);
				messageUl.find('.create_time').text(responseTime);
				$('ul.message_list').empty().append(messageUl.html());
			}
		}
	}
</script>
<script type="text/javascript" src="public_js/web-socket.js"></script>
<script type="text/javascript">
	$(function () {
		//页面初始化
		var config = {
			url: action,
			container:$('ul.message_list'),
			callBack:getListCallBack
		};
		//首次聊天标记，默认true
		var first_chat = true;
		getList(config);
		//发送聊天内容
		$('body').on('click','.send_btn',function(){
			var _this=$(this).prev();
			if(!_this.val()){
				dialog.error('不能发送空内容！');
				return false;
			}
			var postData = {
				to_user_id:17,
				content:_this.val()
			};
			if(!loginSign){
				postData.from_client_id = init_client_id;
			}
			var url = domain + 'index/CustomerService/sendMessage';
			$.ajax({
				url: url,
				data: postData,
				type: 'post',
				beforeSend: function(xhr){
					$('.loading').show();
				},
				error:function(xhr){
					$('.loading').hide();
					dialog.error('AJAX错误');
				},
				success: function(data){
					$('.loading').hide();
					if(data.status==0){
						dialog.error(data.info);
					}else{
						_this.val('');
						$('ul.message_list').append(data);
						//聊天框滚动条置底
						messageSetBottom();
					}
				}
			});
		});
	});
</script>
{/block}