{notempty name='info'}
<li>
	<span class="create_time">{$info.create_time|date='Y-m-d H:i'}</span>
</li>
<li class="message_item {$info.who} {if $info.read} read{else /} unread{/if}" data-id="{$info.id}" data-from_id="{$info.from_id}"
	data-from_client_id="{$info.from_client_id}">
	<div class="avatar">
		{empty name="info.avatar"}
		<img src="public_img/default/chat_head.jpg">
		{else /}
		<img src="public_uploads/{$info.avatar}">
		{/empty}
	</div>
	<div class="content">
		<div class="msg">{$info.content}</div>
	</div>
</li>
{/notempty}