{notempty name='list'}
    {volist name="list" id="info"}
    <li>
        <div>
            <div class="columns_flex l-r-sides">
                <div>
                    <img src="" alt="">
                    <span>{$info.name}</span>
                </div>
                <div>
                    {$info.create_time}
                </div>
            </div>
            <div class="store_score_star five_star">
                <div class="star_img empty_star">
                    <span class="real_star"></span>
                </div>
            </div>
            <p>{$info.content}</p>
            {notempty name="info.img"}
            <div class="cmt_att">
                {volist name="info.img" id="img"}
                    <span class="img">
                        <img src="public_uploads/{$img}" alt="">
                    </span>
                {/volist}
            </div>
            {/notempty}
        </div>
    </li>
    {/volist}
    <!--<li class="page"><a class="comment-next-page" href="javascript:void(0);" data-page="{$nextPage}">加载更多&nbsp;V</a></li>-->
{else /}
{/notempty}


