{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<article class="f24">
	<section class="slider_banner">
		<div class="swiper-container swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-active">
					<img src="public_img/banner/home-banner1.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public_img/banner/home-banner2.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public_img/banner/home-banner3.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public_img/banner/home-banner4.jpg" alt="" class="common_default_img">
				</div>
			</div>
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
				<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 2"></span>
				<span class="swiper-pagination-bul let " tabindex="0" role="button" aria-label="Go to slide 3"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 4"></span>
			</div>
		</div>
	</section>

	<section class="content_main">
		<div class="content-padding">
			<div>
				<div class="scroll_news">
					<a class="news_tit">
						<img src="public_img/wy_logo.png" alt="">
					</a>
					<div class="news_list_wrapper">
						<ul class="news_list j_scroll_news">
							<li class="news_item">
								<a>
									<span class="red">最新</span>维雅品牌定制平台正式上线啦！
								</a>
							</li>
							<li class="news_item">
								<a>
									<span class="red">hot</span>利润为王,品牌定制是捷径！
								</a>
							</li>
						</ul>
					</div>
					<a class="news_more">更多</a>
				</div>
			</div>
			<div class="scene_wrapper">
				{volist name="sceneList" id="info" }
				<div class="graphic_item graphic_item_65 img{$key}" >
					<a href="{:url('Scene/detail',['id'=>$info.id,'b'=>1])}"  data-id="{$info.id}">
						<div class="show-img">
							{empty name="info.thumb_img"}
							<img src="public_img/default/no_pic_100.jpg" alt="">
							{else /}
							<img src="public_uploads/{$info.thumb_img}" alt="">
							{/empty}
						</div>
					</a>
				</div>
				{/volist}
			</div>
			<div class="project_wrapper">
				<div class="mod-part-title">
					<div class="mod-part-title-wrap">
						<span class="icon-title left"></span>
						<span class="title">精选项目</span>
						<span class="icon-title right"></span>
					</div>
				</div>
				<ul>
					{volist name="projectList" id="info" }
					<li data-id="{$info.id}">
						<a href="{:url('Project/detail',['id'=>$info.id])}">
							{empty name="info.thumb_img"}
							<img src="public_img/default/no_pic_1000.jpg" alt="">
							{else /}
							<img src="public_uploads/{$info.thumb_img}" alt="">
							{/empty}
						</a>
					</li>
					{/volist}
				</ul>
			</div>
		</div>
		<div class="new_select_wrap">
			<section class="">
				<ul class="nav_menu">
					{notempty name="categoryList"}
					{volist name="categoryList" id="info"}
					<li data-category-id="{$info.id}" >
						<a href="javascript:void(0);" class="category_nav">{$info.name}</a>
					</li>
					{/volist}
					{/notempty}
				</ul>
			</section>
			<div id="scroller-wrapper" class="list_wrapper">
				<ul class="columns_flex flex-both-side goods-content-list" id="list">

				</ul>
			</div>

		</div>
	</section>
</article>
<section class="bottom_nav_fixed bottom_white">
	<nav class=" foot_nav_bar">
		<ul class="columns_flex">
			<li class="each_column current">
				<a href="javascript:void(0)">
					<span class="store f_icon"></span>
					<span class="f_txt">药妆定制</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('Company/index')}">
					<span class="practitioners f_icon"></span>
					<span class="f_txt">走进维雅</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('Consultation/index')}">
					<span class="business f_icon"></span>
					<span class="f_txt">业务咨询</span>
				</a>
			</li>
			<li class="each_column">
				<a href="javascript:void(0)" class="my_cart">
					<span class="cart f_icon"></span>
					<span class="f_txt">采购车</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('UserCenter/index')}">
					<span class="my f_icon"></span>
					<span class="f_txt">我的</span>
				</a>
			</li>
		</ul>
	</nav>
</section>
{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
<script type="text/javascript" src="public_js/paging.js"></script>

<script type="text/javascript">
	var config = {
		url:module+'Goods/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,

	};
	var postData = {
		pageSize:10,
		pageType:'index'
	};
	$(function(){
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			autoplay:true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
		//新闻滚动
		var len=$('.news_list li').length;
		var timer=setInterval(function(){
			var i=0;
			i++;
			move(i);
		},2200);
		function move(i){
			var h=$('.news_item').height();
			var offsetY=h*i;
			$('.news_list').get(0).style.transform="translate3d(0,-"+offsetY+"px,0)";
			$('.news_list').get(0).style.transition="transform 500ms ease-in-out 0s";
			setTimeout(function(){
				$('.news_list').get(0).style.transform="translate3d(0,0,0)";
				$('.news_list').get(0).style.transition="none 0s ease 0s";
				$('.news_list li').eq(len-1).after($('.news_list li').eq(0));
			},500);
		}
		//初始化分类商品页面
		$('.nav_menu li:eq(0)').addClass('current');
		postData.category_id = $('.nav_menu li.current').data('category-id');
		getPagingList(config,postData);

		$('body').on('click','.nav_menu li',function(){
			var _this = $(this);
			$(this).addClass('current').siblings().removeClass('current');
			config = {
				url:module+'Goods/getList',
				requestEnd:false,
				loadTrigger:false,
				currentPage:1,
			};
			postData.category_id = _this.data('category-id');
			getPagingList(config,postData);
		})

		//下拉加载
		var offsetHeight=$('.nav_menu').offset().top;
		$(window).on('scroll',function(){
			if(config.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config.loadTrigger = false;
				postData.category_id = $('.nav_menu li.current').data('category-id');
				getPagingList(config,postData);
			}
			//滚动
			var top = $(document).scrollTop();
			var currentId = '';
			var top=$(document).scrollTop();
			if(top>offsetHeight){
				$('.nav_menu').addClass('top-fixed');
			}else {
				$('.nav_menu').removeClass('top-fixed');
			}
		});


		$('body').on('click','.my_cart',function () {
			var url = module + 'Cart/index';
			var postData = {};
			$.ajax({
				url: url,
				data: postData,
				type: 'post',
				beforeSend: function(xhr){
					$('.loading').show();
				},
				error:function(xhr){
					$('.loading').hide();
					dialog.error('AJAX错误');
				},
				success: function(data){

					$('.loading').hide();
					if(data.status==0){
						dialog.error(data.info);
					}else if(data.code==1){
						if(data.data == 'no_login'){
							loginDialog();
						}
					}else if(data.status==1){
						location.href = url;
					}else{
					}
				}
			});
		});
	});
</script>
{/block}