{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}

{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
<script type="text/javascript" src="public_js/paging.js"></script>

<script type="text/javascript">
	var config = {
		url:module+'Goods/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1
	};
	var postData = {
		pageSize:10,
		pageType:'index'
	};
	$(function(){
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			autoplay:true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
		//新闻滚动
		var len=$('.news_list li').length;
		var timer=setInterval(function(){
			var i=0;
			i++;
			move(i);
		},2200);
		function move(i){
			var h=$('.news_item').height();
			var offsetY=h*i;
			$('.news_list').get(0).style.transform="translate3d(0,-"+offsetY+"px,0)";
			$('.news_list').get(0).style.transition="transform 500ms ease-in-out 0s";
			setTimeout(function(){
				$('.news_list').get(0).style.transform="translate3d(0,0,0)";
				$('.news_list').get(0).style.transition="none 0s ease 0s";
				$('.news_list li').eq(len-1).after($('.news_list li').eq(0));
			},500);
		}
		//初始化分类商品页面
		$('.nav_menu li:eq(0)').addClass('current');
		postData.category_id = $('.nav_menu li.current').data('category-id');
		getPagingList(config,postData);

		$('body').on('click','.nav_menu li',function(){
			var _this = $(this);
			$(this).addClass('current').siblings().removeClass('current');
			config = {
				url:module+'Goods/getList',
				requestEnd:false,
				loadTrigger:false,
				currentPage:1
			};
			postData.category_id = _this.data('category-id');
			getPagingList(config,postData);
		});

		//下拉加载
		var offsetHeight=$('.nav_menu').offset().top;
		$(window).on('scroll',function(){
			if(config.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config.loadTrigger = false;
				postData.category_id = $('.nav_menu li.current').data('category-id');
				getPagingList(config,postData);
			}
			//滚动
			var top = $(document).scrollTop();
			var currentId = '';
			var top=$(document).scrollTop();
			if(top>offsetHeight){
				$('.nav_menu').addClass('top-fixed');
			}else {
				$('.nav_menu').removeClass('top-fixed');
			}
		});

		$('body').on('click','.my_cart',function () {
			var url = module + 'Cart/index';
			var postData = {};
			$.ajax({
				url: url,
				data: postData,
				type: 'post',
				beforeSend: function(xhr){
					$('.loading').show();
				},
				error:function(xhr){
					$('.loading').hide();
					dialog.error('AJAX错误！');
				},
				success: function(data){

					$('.loading').hide();
					if(data.status==0){
						dialog.error(data.info);
					}else if(data.code==1){
						if(data.data == 'no_login'){
							loginDialog();
						}
					}else if(data.status==1){

					}else{
						location.href = url;
					}
				}
			});
		});
		/**
		 *查看更多资讯
		 */
		$('body').on('click','.new_more',function () {
			location.href = module + 'Information/index';
		})
	});
</script>
{/block}