{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
{/block}
{block name="common"}
{include file="template/footer_menu_msy_nothing.html" /}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}

<footer class="f24 icp_footer" >
    <a href="http://www.miitbeian.gov.cn">
        <span class="icp_icon">Copyright 广东美尚网络科技有限公司</span>
        <span class="icp_icon">粤ICP备14021421号</span>
    </a>
</footer>
{/block}
{block name="script"}{/block}