{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<style type="text/css">
    .frame {
        margin: 0 auto;
        margin-top: 50px;
        width: 400px;
        height: 300px;
        background-color: yellow;
    }
    #div1 {
        width: 100px;
        height: 50px;
        background-color: blue;
    }
    #div2 {
        width: 200px;
        height: 100px;
        background-color: green;
    }
    #div1 {
        position: absolute;
    }
    #div1 {
        top: 30px;
    }
    .frame {
        /*position: relative;*/
        position: absolute;
    }
    #div1 {
        width: auto;
        left: 100px;
        right: 50px;
    }
    #div1 {
        margin: auto;
        /*width: 100px;*/
        left: 0;
        right: 0;
    }
</style>
<div class="frame">
    <div id="div1"></div>
    <div id="div2"></div>
</div>
{/block}
{block name="common"}
{include file="template/footer_menu_msy_factory.html" /}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
    function create1(pro) {
        console.log("pro : " + pro);
        return function(obj1, obj2){
            console.log(obj1 + " -- " + obj2);
            return obj1 + obj2;
        }
    }
    create1('aaa')(1,2);
</script>
{/block}