{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<article class="f24">
	<section class="slider_banner">
		<div class="swiper-container swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				{notempty name="info.goods_video"}
				<div class="swiper-slide swiper-slide-active">
					<video  src="public_uploads/{$info.goods_video}" autoplay="autoplay"></video>
				</div>
				{/notempty}
				{volist name="info.main_img" id="main_img"}
				<div class="swiper-slide swiper-slide-active">
					<img src="public_uploads/{$main_img}" alt="" class="common_default_img">
				</div>
				{/volist}
			</div>
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
				<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 2"></span>
				<span class="swiper-pagination-bul let " tabindex="0" role="button" aria-label="Go to slide 3"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 4"></span>
			</div>
		</div>
	</section>
	<section class="content-padding content_main wy_list" style="background:url(public_uploads/{$info.background_img});">
		<div class="">
			<div class="top_b_text wk_notice separation">
				<p class="more-text">
				<span class="intro_title">[品牌定制须知]</span>
				品牌定制利润为王！维雅生物药妆精选优质项目产品任你选，帮助用户开启自主品牌可持续发展经营！用户在线选购产品并支付品牌定制单，其他全部交给维雅品牌定制服务团队。
				</p>
			</div>
			<div class="columns_flex l-r-sides count_down_module">
				<div class="mid_module_left">
					<img src="public_img/wy_dz.png" alt="">
					<div>
						<span class="left count-down-icons"></span>
						<div class="d-r">
							<p class="friday_end">品牌定制<span>.</span>周五截止</p>
							<div id="countDownBox" class="count_down_box">
								<span class="day"></span>天
								<span class="hour"></span>小时
								<span class="minute"></span>分
								<span class="second"></span>秒
							</div>
						</div>
					</div>
				</div>
				<div class="mid_module_right">
					<span><span class="item end_time"></span>周五结单</span>
					<span><span class="item factory"></span>品质工厂</span>
				</div>
			</div>
		</div>
		<ul class="goods_list list">
			{notempty name="goodsList"}
			{volist name="goodsList" id="info"}
			<li data-id="{$info.id}" data-buy_type="1" id="li-id-{$info.id}">
				<a class="p_img" href="{:url('Goods/detail',['id'=>$info.id])}">
					{empty name="info.thumb_img"}
					<img class="left" src="public_img/default/no_pic_100.jpg" alt="">
					{else /}
					<img class="left" src="public_uploads/{$info.thumb_img}" alt="">
					{/empty}
				</a>
				<div class="list_r">
					<p class="text-intro">{$info.headline}</p>
					<!--<div>单品规格<span>{$info.specification}</span></div>-->
					<div>
						<span class="red">￥<price>{$info.bulk_price}</price></span>
					</div>
					<div class="columns_flex l-r-sides">
						<div>起订数量：<span>{$info.minimum_order_quantity}{$info.purchase_unit|getUnit}</span>
						</div>
						<!--<a href="javascript:void(0);" class="sample_purchase">样品购买
							<input type="hidden" class="" value="{$info.minimum_sample_quantity}">
						</a>-->
					</div>
					<div class="columns_flex l-r-sides separation_item">
						<div>
							我的品牌定制：<span class="brand_name" data-id=""></span>
						</div>
						<div>
							<a href="javascript:;" class="set_brand">设定></a>
						</div>
					</div>
					<div class="quantity_wrapper selected-number">
						<a href="javascript:void(0);" class="greduce">-</a>
						<input type="text" value="0" class="f24 gshopping_count" >
						<input type="hidden" class="minimum_order_quantity" value="{$info.minimum_order_quantity}">
						<input type="hidden" class="increase_quantity" value="{$info.increase_quantity}">
						<a href="javascript:void(0);" class="gplus">+</a>
					</div>
				</div>
			</li>
			{/volist}
			{/notempty}
		</ul>
	</section>
</article>

{/block}
{block name="common"}
    {include file="brand/set_brand" /}
	{include file="public/sample_layer" /}
{/block}
{block name="footer"}
	{include file="template/footer_menu.html" /}
{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
<script type="text/javascript" src="public_js/paging.js"></script>
<script type="text/javascript" src="weiya_js/footerCart.js"></script>
<script type="text/javascript">
	$(function(){
		var id = {$info.id};
		var date=getWeek();
		countDown(date,$('#countDownBox'));
		//查看文本
		$('.wk_notice').moreText({
			mainCell:".more-text",
			openBtn:'展开'
		});
	});
</script>
{/block}