<section class="bottom_nav_fixed">
	<nav class=" foot_nav_bar">
		<ul class="columns_flex">
			<li class="each_column current">
				<a href="{:url('store/Index/index')}">
					<span class="store f_icon"></span>
					<span class="f_txt">采购商</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('twitter/Index/index')}">
					<span class="practitioners f_icon"></span>
					<span class="f_txt">从业人员</span>
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('factory/Index/index')}">
					<span class="manufacturer f_icon"></span>
					<span class="f_txt">供应商</span>
				</a>
			</li>
		</ul>
	</nav>
</section>