
<footer class="f24 group_cart_nav">
    {volist name="unlockingFooterCart.menu" id="vo"}
        {if $unlockingFooterCart.count == 1 }
            <div class="group_btn100 bottom_item">
                {if $vo.class=='amount'}
                <span>￥<price>500</price></span>
                {else /}
                <a href="javascript:void(0);" class="{$vo.class}"><span class="s_i"></span>{$vo.name}</a>
                {/if}
            </div>
        {elseif $unlockingFooterCart.count == 2 /}
            <div class="group_btn50 bottom_item">
                {if $vo.class=='checked_all'}
                <div class="select_checkbox_box {$vo.class}">
                    <input type="checkbox" name="" value="" id="" class="item_checkbox checkall ">
                    <label for="" class="left">全选</label>
                </div>
                {else /}
                <a href="javascript:void(0);" class="{$vo.class}"><span class="s_i"></span>{$vo.name}</a>
                {/if}
            </div>
        {elseif $unlockingFooterCart.count == 3 /}
            <div class="group_btn30 bottom_item">
                {if $vo.class=='amount'}
                总计:<span class="amount">￥<price>0.00</price></span>
                {elseif $vo.class=='add_cart_icon'}
                <a href="javascript:void(0);" class="{$vo.class}"><span class="add_num"></span><span class="cart_num"></span></a>
                {elseif $vo.class=='checked_all'}
                <div class="select_checkbox_box {$vo.class}">
                    <input type="checkbox" name="" value="" id="" class="item_checkbox checkall ">
                    <label for="" class="left">全选</label>
                    <a href="javascript:void(0);" class="goodsDel detele_carts">删除</a>
                </div>
                {else /}
                <a href="javascript:void(0);" class="{$vo.class}">{$vo.name}<span class="total_num"></span></a>
                {/if}
            </div>
        {elseif $unlockingFooterCart.count == 4 /}
        <div class="group_btn25 bottom_item">
            <a href="javascript:void(0);" class="{$vo.class}"><span class="s_i"></span>{$vo.name}</a>
        </div>
        {else /}
        {/if}
    {/volist}
</footer>