<section class="bottom_nav_fixed">
	<nav class=" foot_nav_bar">
		<ul class="columns_flex">
			<li class="each_column ">
				<a href="{:url('store/Index/index')}">
					<span class="store"></span>
					美容店家
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('twitter/Index/index')}">
					<span class="practitioners"></span>
					从业人员
				</a>
			</li>
			<li class="each_column">
				<a href="{:url('factory/Index/index')}">
					<span class="manufacturer"></span>
					供应商
				</a>
			</li>
		</ul>
	</nav>
</section>