<section id="WalletPasswordHtml" style="display:none;">
	<div class="f24 bomb_box">
		<form class="" id="ForgetWalletPassword">
			<div class="smsLogin login_wrap">
				<div class="login_item">
					<div class="columns_flex l-r-sides">
						<input type="text" class="tel_code input-filed" placeholder="请输入收到的验证码" name="captcha">
						<a href="javascript:void(0);" class="send_sms">获取验证码</a>
					</div>
				</div>
			</div>
			<div class="login_item">
				<div class="columns_flex">
					<input class="input-filed password" autocomplete="new-password" type="password" placeholder="设置密码" name="password">
					<a href="javascript:void(0);" class="hidden view-password" ></a>
				</div>
			</div>
		</form>
	</div>
	<input type="hidden" id="order_sn" value="">
	<input type="hidden" id="order_id" value="">
</section>
