<section id="sectionForgetPassword" style="display:none;">
	<div class="f24 bomb_box">
		<div class="ucenter_logo">
			<img src="public_img/ucenter_logo.png" alt="">
		</div>
		<div class="loginNav">
			<span class="current resetpassword">重置密码</span>
		</div>
		<div class="error_tipc" ></div>
		{include file="template/forget_password_tpl.html" /}
	</div>
</section>
<script type="text/javascript">
	$(function(){
		//忘记密码-触发弹窗
		$('body').on('click','.forget_dialog',function(){
			forgetPasswordDialog();
		});
	});
	//忘记密码-弹窗
	function forgetPasswordDialog(){
		var content = $('#sectionForgetPassword').html();
		layer.open({
			className:'forgetPasswordLayer',
			content:content,
			success:function(){
				$('.login_item .password').attr('type','password');
				$('.view-password').removeClass('active');
			},
		});
	}
</script>