<div class="top_bar columns_flex l-r-sides">
	<!--<div class="each_column" >
		<a class="home top_icon">首页</a>
	</div>-->
	<div class="top_menu_box top_left_menu">
		<div class="top_menu_list">
			<a href="javascript:void(0);">采购</a>
			<a href="javascript:void(0);">分成</a>
			<a href="javascript:void(0);">加盟</a>
			<a href="javascript:void(0);"  class="current">店家入驻</a>
			<a href="javascript:void(0);">智慧店务</a>
		</div>
	</div>
	
	<div class="top_right_menu">
		<a class="shopping_cart top_icon" >购物车</a>
		<a class="personal_center top_icon" >我的</a>
	</div>

</div>