<div class="top_bar columns_flex l-r-sides">
	<!--<div class="each_column top_hidden">
		<a class="home top_icon">首页</a>
	</div>-->
	<!--<div class="each_column top_search_module top_hidden">
		<input type="button" class="search_btn"/>
		<input type="text" class="search_text" placeholder="搜店铺、商品、服务等"/>
	</div>-->
	<div class="top_menu_box top_left_menu">
		<div class="top_menu_list">
			<a href="javascript:void(0);" class="current">供应商入驻</a>
			<a href="javascript:void(0);">老板直聘</a>
			<a href="javascript:void(0);">商学院</a>
		</div>
	</div>
	<!--<div class="each_column">
		<a class="shopping_cart top_icon">购物车</a>
	</div>
	<div class="each_column">
		<a class="personal_center top_icon">我的</a>
	</div>-->
	<div class="top_right_menu">
		<a class="shopping_cart top_icon" >购物车</a>
		<a class="personal_center top_icon" >我的</a>
	</div>
</div>