<div class="top_bar columns_flex l-r-sides">
	<!--<div class="each_column">
		<a class="home">首页</a>
	</div>-->
	<!--<div class="each_column top_search_module">
		<input type="button" class="search_btn"/>
		<input type="text" class="search_text" placeholder="美尚云搜索"/>
	</div>-->
	<!--<div class="each_column">
		<a class="shopping_cart">购物车</a>
	</div>
	<div class="each_column">
		<a class="personal_center">我的</a>
	</div>-->
	<div class="top_menu_box top_left_menu">
		<div class="top_menu_list">
			<a href="javascript:void(0);">云推客</a>
			<a href="javascript:void(0);">社交电商</a>
			<a href="javascript:void(0);">服务商</a>
			<a href="javascript:void(0);"  class="current">工作室</a>
		</div>
	</div>
	<div class="top_right_menu">
		<a class="shopping_cart top_icon" >购物车</a>
		<a class="personal_center top_icon" >我的</a>
	</div>
</div>