<div class="payment_password">
	<ul class="payment_password_list" id="wrap">
		<li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
		<li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
		<li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
		<li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
	</ul>
	<div class="login_item">
		<a href="javascript:void(0);" class="forget_wallet_password">忘记支付密码</a>
	</div>
</div>
<input type="hidden" id="fn_name" name="fn_name" value="" />
<input type="hidden" id="order_sn" name="order_sn" value="" />
<input type="hidden" id="order_id" name="order_id" value="" />