<div class="payment_password">
	<ul class="payment_password_list" id="wrap">
		<li class=""><input class="password_item" type="text" name="key" placeholder="-" data-index=""></li>
		<li class=""><input class="password_item" type="text" name="key" placeholder="-" data-index=""></li>
		<li class=""><input class="password_item" type="text" name="key" placeholder="-" data-index=""></li>
		<li class=""><input class="password_item" type="text" name="key" placeholder="-" data-index=""></li>
	</ul>
	<div class="login_item">
		<a href="javascript:void(0);" class="forget_wallet_password">重置密码</a>
	</div>
</div>
{include file="template/wallet_password.html" /}