{extend name="template/admin_pc/page_base_admin.html" /}
<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/myms/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/myms/skin.css?v=1.0" />
</block>
<block name="content">
    欢迎首页
</block>

<block name="script">
    <script type="text/javascript" src="PUBLIC_ADMIN_JS/common/categoryLinkage.js"></script>
    <script type="text/javascript">
        $(function () {

        });
    </script>
</block>