{extend name="template/base_login.html" /}
{block name="css-customize"}
{/block}
{block name="content"}{/block}
{block name="common"}
<section class="userInfoWrapper">
    <div class="f24 bomb_box">
        <div class="ucenter_logo">
            <img src="public_img/ucenter_logo.png" alt="">
        </div>
        <ul class="loginNav">
            <li >注册</li>
            <li class="current">登录</li>
        </ul>
        <!--注册-->
        {include file="template/register_tpl.html" /}
        <!--登录-->
        {include file="template/login_tpl.html" /}
    </div>
    {include file="template/forget_password_dialog.html" /}
    {include file="template/attention.html" /}
</section>
{/block}