{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<!--增加商标-->
<section class="add_brand_tpl bg-eae pt-5" style="display:none;">
    <form method="post" class="bg-fff brand_form">
        <!--<input type="hidden" class="" name="address_id" value="" />-->
        <!--<div class="box-flex clearfixed">
            <select name="type" class="input-filed">
                <option value="">商标类别</option>
                {volist name="Think.config.custom.brand_type" id="brand_type"}
                <option value="{$k}">{$brand_type}</option>
                {/volist}
            </select>
        </div>-->
        <div class="box-flex clearfixed">
            <input type="text" name="name" class="input-filed" placeholder="商标名称" value="">
        </div>
        <div class="upload-picture-module box-flex f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg" >
					<img class="upload_img" src="" alt="">
					<input type="hidden" name="logo" class="img" data-src="" value=""/>
				</div>
			</div>
            <div class="brand_txt">商标logo</div>
		</div>
        <div class="upload-picture-module box-flex f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg">
					<img class="upload_img" src="" alt="">
					<input type="hidden" name="certificate" class="img" data-src="" value=""/>
				</div>
			</div>
            <div class="brand_txt">
                商标证或受理通知书
            </div>
		</div>
        <div class="upload-picture-module f24">
			<div>
				<div class="picture-module">
					<!--<input type="file" class="uploadImg uploadSingleImg">-->
					<img class="upload_img" src="public_img/brand_template_img.jpg" alt="">
					<!--<input type="hidden" name="authorization" class="img" data-src="" value=""/>-->
				</div>
			</div>
            <div class="brand_txt example">
                <p>如非自有商标需所有权者授权</p>
                <a href="public_img/brand_template_img.jpg" download="brand_template_img.jpg" class="template_btn pink">商品授权书样板></a>
            </div>
		</div>
    </form>
</section>
<article class="f24">
	<section class="header_title separation-line">
        <a href="javascript:void(0);" class="back_prev_page" data-jump_url="{:url('Mine/index')}"></a>
		<h2 class="f24">设定品牌</h2>
	</section>
	<ul class="brand_list list">
        {notempty name="list"}
        {volist name="list" id="info"}
        <li data-id="{$info.id}">
            <div class="list_top_item">
                <div>
                    {empty name="info.logo"}
                    <img src="public_img/default/no_pic_40.jpg" alt="" class="left brand_logo" />
                    {else /}
                    <img src="public_uploads/{$info.logo}" alt="" class="left brand_logo" />
                    {/empty}
                    <input type="text" class="brand_name input_width" name="name" value="{$info.name}" unselectable="on" onfocus="this.blur()"/>
                    <input type="hidden" class="brand_logo" name="logo" value="{$info.logo}"/>
                    <input type="hidden" class="" name="certificate" value="{$info.certificate}"/>
                    <input type="hidden" class="" name="authorization" value="{$info.authorization}"/>
                </div>
            </div>
            <div class="columns_flex l-r-sides list_bottom_item">
                <div>
                    {if $info.is_default}
                    <a href="javascript:void(0);" class="edit_default myswitched" data-default="">
                        <span></span>
                        默认商标
                    </a>
                    {else /}
                    <a href="javascript:void(0);" class="edit_default" data-default="">
                        <span></span>
                        默认商标
                    </a>
                    {/if}
                </div>
                <div>
                    <a href="javascript:void(0);" class="edit_brand">修改</a>
                    <a href="javascript:void(0);" class="delete_brand">删除</a>
                </div>
            </div>
        </li>
        {/volist}
        {else /}
        <li class="no_data">
            暂无可选商标
        </li>
        {/notempty}
    </ul>
    <a href="javascript:void(0);" class="add_brand">增加商标</a>
</article>
{/block}
{block name="common"}

{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/uploadImgToTemp.js"></script>
<script type="text/javascript">
$(function(){
    var page_type='operate_btn';
    //增加商标
    var addBrandInfo=$('.add_brand_tpl').html();
    $('body').on('click','.add_brand',function () {
        layer.open({
            title:['增加商标','border-bottom:1px solid #d9d9d9;'],
            type:1,
            anim:'up',
            className:'setBrandLayer',
            content:addBrandInfo,
            btn:['确定','取消'],
            success:function(){
                
            },
            yes:function(index){
                var postData  = $(".setBrandLayer .brand_form").serializeObject();
                var brandTpl=$('.brandListTpl').html();
                postData.page_type='operate_btn';
                var content='';
                if(!postData.name){
                    content='请填写商标名称';
                }else if(!postData.logo){
                    content='请上传商标logo';
                }else if(!postData.certificate){
                    content='请上传商标证或受理通知书';
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
                var config = {
                    url:module + 'Brand/edit',
                    postData:postData,
                    index:index
                };
                dialogFormAdd(config);
            
            }
        });
    });
    //修改商标
    $('body').on('click','.edit_brand',function(){
        var _this=$(this).parents('.list li');
        layer.open({
            title:['修改商标','border-bottom:1px solid #d9d9d9;'],
            type:1,
            anim:'up',
            className:'setBrandLayer',
            content:addBrandInfo,
            btn:['确定','取消'],
            success:function(){
                copyDataByName(_this,$('.setBrandLayer .brand_form'));
                var brand_logo=_this.find('input[name="logo"]').val();
                var trademark_certificate=_this.find('input[name="certificate"]').val();
                var trademark_authorization=_this.find('input[name="authorization"]').val();
                $('.setBrandLayer').find('input[name="logo"]').prev().attr('src',uploads+brand_logo);
                $('.setBrandLayer').find('input[name="certificate"]').prev().attr('src',uploads+trademark_certificate);
                $('.setBrandLayer').find('input[name="authorization"]').prev().attr('src',uploads+trademark_authorization);
            },
            yes:function(index){
                var postData  = $(".setBrandLayer .brand_form").serializeObject();
                var brandTpl=$('.brandListTpl').html();
                postData.page_type='operate_btn';
                var content='';
                if(!postData.name){
                    content='请填写商标名称';
                }else if(!postData.logo){
                    content='请上传商标logo';
                }else if(!postData.certificate){
                    content='请上传商标证或受理通知书';
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
                postData.id = _this.data('id');
                var config = {
                    url:module + 'Brand/edit',
                    postData:postData,
                    modifyObj:_this,
                    index:index
                };
                dialogFormEdit(config);
            }
        });
    });
    //删除商标
    $('body').on('click','.delete_brand',function (){
        var _This=$(this);
        var postData = {};
        var ids = [];
        var id = _This.parents('li').data('id');
        ids.push(id);
        postData.ids =ids;
        var url = module + 'Brand/del'
        _This.addClass("nodisabled");//防止重复提交
        layer.open({
            title:['删除商标','border-bottom:1px solid #d9d9d9;'],
            content:'确定删除商标吗？',
            btn:['确定','取消'],
            yes:function(index){
                $.ajax({
						url: url,
						data: postData,
						type: 'post',
						beforeSend: function(){
							$('.loading').show();
						},
						error:function(){
							$('.loading').hide();
							dialog.error('AJAX错误');
						},
						success: function(data){
							$('.loading').hide();
							_This.removeClass("nodisabled");//防止重复提交
							if(data.status==0){
								dialog.error(data.info);
							}else {
								_This.parents('li').remove();
								if(!$('.list li').length){
									var html=$('.no_collection').html();
									$('.list').append(html);
								}
							}
						}
					});
                //_this.parents('li').remove();
                layer.close(index);
            }
        })
    });
    //设置默认商标
    $('body').on('click','.edit_default',function (){
        var _This=$(this);
        if(_This.hasClass('myswitched')){
            _This.removeClass('myswitched');
            _This.attr('data-default',0);
        }else{
            _This.addClass('myswitched');
            _This.parents('li').siblings().find('.edit_default').removeClass('myswitched');
            _This.attr('data-default',1);
            var id=_This.parents('li').data('id');
            var is_default=_This.data('default');
            var postData = {
                id:id,
                is_default:is_default
            };
             _This.removeClass("nodisabled");//防止重复提交
            var url = module + 'Brand/setDefault';
            $.ajax({
                url: url,
                data: postData,
                type: 'post',
                beforeSend: function(){
                    $('.loading').show();
                },
                error:function(){
                    $('.loading').hide();
                    dialog.error('AJAX错误');
                },
                success: function(data){
                    $('.loading').hide();
                    _This.removeClass("nodisabled");//防止重复提交
                    if(data.status==0){
                        dialog.error(data.info);
                    }else {
                    }
                }
            });
        }
    });
    //设置样式
    if($('.input_width').length){
        changeInputLen($('.input_width'));
    }
})
</script>
{/block}