<li data-id="{$info.id}">
    <div class="list_top_item">
        <div>
            {empty name="info.logo"}
            <img src="public_img/default/no_pic_40.jpg" alt="" class="left brand_logo" />
            {else /}
            <img src="public_uploads/{$info.logo}" alt="" class="left brand_logo" />
            {/empty}
            <input type="text" class="brand_name input_width" name="name" value="{$info.name}" unselectable="on" onfocus="this.blur()"/>
            <input type="hidden" class="brand_logo" name="logo" value="{$info.logo}"/>
            <input type="hidden" class="" name="certificate" value="{$info.certificate}"/>
            <input type="hidden" class="" name="authorization" value="{$info.authorization}"/>
        </div>
    </div>
    {notempty name="operate_btn"}
    <div class="columns_flex l-r-sides list_bottom_item">
        <div>
            {if $info.is_default}
                <a href="javascript:void(0);" class="edit_default myswitched" data-default="">
                    <span></span>
                    默认商标
                </a>
            {else /}
            <a href="javascript:void(0);" class="edit_default" data-default="">
                <span></span>
                默认商标
            </a>
            {/if}

        </div>
        <div>
            <a href="javascript:void(0);" class="edit_brand">修改</a>
            <a href="javascript:void(0);" class="delete_brand">删除</a>
        </div>
    </div>
    {else /}
    {/notempty}
</li>
