{notempty name="list"}
{volist name="list" id="info"}
<li data-id="{$info.id}">
    <div class="list_top_item">
        <div>
            {empty name="info.logo"}
            <img src="public_img/default/no_pic_40.jpg" alt="" class="left brand_logo" />
            {else /}
            <img src="public_uploads/{$info.logo}" alt="" class="left brand_logo" />
            {/empty}
            <input type="text" class="brand_name" name="name" value="{$info.name}" unselectable="on" onfocus="this.blur()"/>
            <input type="hidden" class="brand_logo" name="logo" value="{$info.logo}"/>
            <input type="hidden" class="" name="certificate" value="{$info.certificate}"/>
            <input type="hidden" class="" name="authorization" value="{$info.authorization}"/>
        </div>
    </div>
    <!--{notempty name="operate_btn"}
    <div class="columns_flex l-r-sides list_bottom_item">
        <div>
            <span></span>
            默认商标
        </div>
        <div>
            <a href="javascript:void(0);" class="edit_brand">修改</a>
            <a href="javascript:void(0);" class="delete_brand">删除</a>
        </div>
    </div>
    {/notempty}-->
</li>
{/volist}
{else /}
<li class="no_data">
    暂无可选商标
</li>
{/notempty}
