{extend name="template/base.html" /}
{block name="content"}
<article class="f24 after_sale_wrapper">
	<section class="header_title separation-line">
		<h2 class="f24">商品收藏</h2>
		<a href="javascript:void(0);" class="edit">编辑</a>
	</section>
	<section >
		<ul class="collection_list list" id="list">

		</ul>
	</section>
</article>
{/block}
{block name="common"}
{include file="template/footer_menu.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
	var config = {
		url:module+'Collection/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,

	};
	var postData = {
		pageSize:10,
		pageType:'list_tpl'
	};
	$(function(){
		//初始化页面
		getPagingList(config,postData);
		//下拉加载
		$(window).on('scroll',function(){
			if(config.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config.loadTrigger = false;
				getPagingList(config,postData);
			}
		});
	});
</script>
{/block}