{extend name="template/base.html" /}
{block name="content"}
<section class="no_collection" style="display:none;">
	<li class="no_data">
		暂无收藏商品信息
	</li>
</section>
<article class="f24 article_main_content collection_main_content">
	<section class="header_title separation-line">
		<a href="javascript:void(0);" class="back_prev_page async_login" data-jump_url="{:url('Mine/index')}"></a>
		<h2 class="f24">商品收藏</h2>
	</section>
	<section >
		<ul class="collection_list list" id="list">

		</ul>
	</section>
</article>
{/block}
{block name="common"}
{include file="template/footer_menu.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
	var config = {
		url:module+'Collection/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1
	};
	var postData = {
		pageSize:10,
		pageType:'list_tpl'
	};
	$(function(){
		//初始化页面
		getPagingList(config,postData);
		//下拉加载
		$(window).on('scroll',function(){
			if(config.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config.loadTrigger = false;
				getPagingList(config,postData);
			}
		});

//		//选择删除购物车
		$('body').on('click','.delete',function(){
			var _This=$(this);
			var postData = {};
			var ids = [];
			$.each($('.list li'),function(){
				var _this=$(this);
				if(_this.find('.sign_checkitem').is(':checked')){
					var id = _this.data('id');
					ids.push(id);
				}
			});
			postData.ids =ids;
			if($.isEmptyArray(ids)){
				dialog.error('请选择需要删除的收藏商品！');
				return false;
			}
			var url = module + 'Collection/del'
			_This.addClass("nodisabled");//防止重复提交
			layer.open({
				content:'是否删除？',
				btn:['确定','取消'],
				yes:function(index){
					$.ajax({
						url: url,
						data: postData,
						type: 'post',
						beforeSend: function(){
							$('.loading').show();
						},
						error:function(){
							$('.loading').hide();
							dialog.error('AJAX错误');
						},
						success: function(data){
							$('.loading').hide();
							_This.removeClass("nodisabled");//防止重复提交
							if(data.status==0){
								dialog.error(data.info);
							}else {
								$.each($('.list li'),function(){
									var _this=$(this);
									var id = _this.data('id');
									if(_this.find('.sign_checkitem').is(':checked')){
										_this.remove();
									}
								});

								if(!$('.list li').length){
									var html=$('.no_collection').html();
									$('.list').append(html);
								}
							}
						}
					});
					layer.close(index);
				}
			});
		});
	});
</script>
{/block}