{notempty name="list"}
{volist name="list" id="info"}
<li data-goods_id="{$info.goods_id}" data-id="{$info.id}">
    <input type="checkbox" class="item_checkbox checkitem sign_checkitem" >
    <a  href="{:url('Goods/detail',['id'=>$info.goods_id])}" class="cart_goods_img">
        {empty name="info.thumb_img"}
        <img src="public_img/default/no_pic_100.jpg" alt="" class="c_img">
        {else /}
        <img src="public_uploads/{$info.thumb_img}" alt="" class="c_img">
        {/empty}
    </a>
    <div class="cart_list_r">
        <p>{$info.headline}</p>
        <div>商品规格：<span>50ml/瓶</span></div>
        <p class="red">￥<price>{$info.bulk_price}</price></p>
    </div>
</li>
{/volist}
{else /}
{if $currentPage ==1}
<li class="no_data">
    <img src="public_img/no-collection.png" alt="">
</li>
{/if}
{/notempty}


  
