{extend name="template/base.html" /}
{block name="css-customize"}

{/block}
{block name="content"}
<article class="f24">
    <section class="complete_wrapper">
        <div class="c_text">
            <span class="status_icons">
                <img src="public_img/icons/success_icons.png" alt="">
            </span>
            <p>交易成功</p>
            <p>可在个人中心订单中查看</p>
        </div>
        <a href="{:url('Order/manage',['order_status'=>2])}" class="order_cofirm_btn btn_s">确定</a>
    </section>
</article>
{/block}
{block name="common"}
{include file="template/footer_menu.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){

    });
</script>
{/block}