{extend name="template/base.html" /}
{block name="css-customize"}

{/block}
{block name="content"}
<article class="f24">
    <section class="complete_wrapper">
        <div class="c_text">
            <span></span>
            <p>订单已取消</p>
            <p>可在个人中心订单中查看</p>
        </div>
        <a href="" class="order_cofirm_btn btn_s">确定</a>
    </section>
</article>
{/block}
{block name="common"}
{include file="template/footer_menu.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){

    });
</script>
{/block}