
{notempty name="list"}
<table class="table table-border table-bordered table-bg table-sort">
	<thead >
	<tr class="text-c">
		<th width="25"></th>
		<th width="25">商品首焦图</th>
		<th width="70">商品名</th>
		<th width="80">所属厂商</th>
		<th width="80">所属店铺</th>
		<th width="80">销售价格</th>
		<th width="80">库存量</th>
		<th width="80">申请时间</th>
		<th width="80">修改时间</th>
		<th width="120">审核状态</th>
		<th width="100">操作</th>
	</tr>
	</thead>
	<tbody >
	{volist name="list" id="vo"}
	<tr class="text-c" data-id="{$vo.id}">
		<td><input name="" type="checkbox" value=""></td>
		<td><img src="public_uploads/{$vo.thumb_img}" alt=""></td>
		<td><span>{$vo.name}</span></td>
		<td><span>{$vo.store_name}</span></td>
		<td><span>{$vo.factory_name}</span></td>
		<td><span>{$vo.sale_price}</span></td>
		<td><span>{$vo.inventory}</span></td>
		<td>{$vo.create_time}</td>
		<td>{$vo.update_time}</td>
		{if $vo.shelf_status == 0}
		<td class="text-l"><span class="auth-status">待审核</span></td>
		<td class="f-14 product-brand-manage">
			<a style="text-decoration:none" href="javascript:;" title="编辑" class="audit" data-auth_status="1">通过</a>
			<a style="text-decoration:none" class="ml-5" onClick="active_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
		</td>
		{elseif $vo.shelf_status == 1 /}
		<td class="text-l"><span class="auth-status">已通过</span></td>
		<td class="f-14 product-brand-manage">
			<a style="text-decoration:none" href="javascript:;" title="编辑" class="audit">查看</a>
			<a style="text-decoration:none" class="ml-5" onClick="active_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
		</td>
		{elseif $vo.shelf_status == 2 /}
		<td class="text-l"><span class="auth-status">不通过</span></td>
		<td class="f-14 product-brand-manage">
			<a style="text-decoration:none" href="javascript:;" title="编辑" class="audit">查看</a>
			<a style="text-decoration:none" class="ml-5" onClick="active_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
		</td>
		{else /}
		{/if}
	</tr>
	{/volist}
	</tbody>
</table>
{else /}
<div>暂无数据</div>
{/notempty}
{$list|raw}