<div class="search-result">
    {notempty name='list'}
        <table class="table tb-type2">
            <thead>
                <tr class="thead">
                    <th></th>
                    <th>排序</th>
                    <th>商品名称</th>
                    <!--<th>所属分类</th>-->
                    <th>批量价格</th>
                    <th>样品价格</th>
                    <th>操作</th>
                    <th>是否为精选</th>
                    <th>状态</th>
                    <th>上下架设置</th>
                </tr>
            </thead>
            <tbody>
                {volist name="list" id="info"}
                    <tr class="hover" data-id="{$info.id}">
                        <td class="w48"><input type="checkbox" class="checkitem" name="checkbox">
                        <td class="w48 sort"><span title="" class="editable ">{$info.sort}</span></td>
                        <td class="w50pre name"><span title="" class="editable ">{$info.name}</span></td>

                        <td class="w5">{$info.bulk_price}</td>
                        <td class="w5">{$info.sample_price}</td>
                        <td class="w5">
                            <a href="javascript:void(0);" class="edit">编辑</a>
                            | <a href="javascript:void(0);" class="del">删除</a>
                            | <a href="javascript:void(0);" class="addRecommendGoods">添加推荐产品</a>
                            {notempty name="info.rq_code_url"}
                            | <a href="javascript:void(0);" class="ckQRcode" data-img-src="{$info.rq_code_url}">查看二维码图片</a>
                            | <a href="javascript:void(0);" class="generateQRcode" data-img-src="{$info.rq_code_url}">重新生成二维码图片</a>
                            {else/}
                            | <a href="javascript:void(0);" class="generateQRcode" data-img-src="{$info.rq_code_url}">生成二维码图片</a>
                            {/notempty}
                            | <a href="javascript:void(0);" class="preview">预览</a>
                            {if $info.is_selection == 0}
                            | <a href="javascript:void(0);" class="set_selection" data-is-selection="1">设置为精选</a>
                            {else /}
                            | <a href="javascript:void(0);" class="set_selection" data-is-selection="0">取消为精选</a>
                            {/if}

                        </td>
                        <td class="w96 is-selection">
                            {if $info.is_selection == 1}
                            <span>精选</span>
                            {else /}
                            <span>不为精选</span>
                            {/if}
                        </td>
                        <td class="w96 shelf-status">
                             <span>{$info.shelf_status|getShelStatus}</span>
                        </td>

                        <td class="w96">
                            {if ($info.shelf_status == 1) or ($info.shelf_status == 2)}
                            <a href="javascript:void(0);" class="set-shelf-status" data-shelf-status="3">上架</a>
                            {else /}
                            <a href="javascript:void(0);" class="set-shelf-status" data-shelf-status="1">下架</a>
                            {/if}
                        </td>
                    </tr>
                {/volist}
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td><input type="checkbox" class="checkall" id="checkall_2"></td>
                    <td id="batchAction" colspan="15">
                        <span class="all_checkbox"><label for="checkall_2">全选</label></span>&nbsp;&nbsp;
                        <a href="JavaScript:void(0);" class="batchDel" ><span>批量删除</span></a>
                        <a href="JavaScript:void(0);" class="batchCreateQRcode" ><span>批量生成二维码图片</span></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    {else/}
    <div>没有数据</div>
    {/notempty}
</div>
{$list|raw}

