{extend name="template/admin_pc/base.html" /}
{block name="css-customize"}

{/block}
{block name="content"}
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:url('manage')}"><span>管理</span></a></li>
                    <li><a href="{:url('edit')}" class="current"><span>编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div class="fixed-empty"></div>
        <div align=center style="margin-top:15px;">
            <table id=table5 border=0 cellspacing=0 cellpadding=0 width="100%" class="edit_common_item">
                <tbody class="edit_common_tr">
                    <tr>
                        <td class="box_top box_border" height=35 align=center>
                            {eq name="operate" value="addLower"}
                                新增
                                {switch name="info.level"}
                                    {case value="1"}二级{/case}
                                    {case value="2"}三级{/case}
                                {/switch}
                                分类
                            {else/}
                                {empty name="info"}
                                    新增一级分类
                                {else/}
                                    修改
                                    {switch name="info.level"}
                                        {case value="1"}一级{/case}
                                        {case value="2"}二级{/case}
                                        {case value="3"}三级{/case}
                                    {/switch}
                                    分类
                                {/empty}
                            {/eq}
                        </td>
                    </tr>
                    <tr>
                        <td valign=middle width="100%">
                            <div align=center class="goods_type_catague">
                                <form id="form1">
                                    {eq name="operate" value="addLower"}<!-- 新增下级 -->
                                        <input type="hidden" name="id" value="">
                                        {if condition="($info.level eq 1) or ($info.level eq 2)"}
                                            <div class="goods_c_item">
                                                <span class='goods_label_title' height=40 width="11%" align=right>所属分类：</span>
                                                <div width="89%" align=left>
                                                    {if condition="$info.level eq 1"}
                                                        <select name="parent_id_1" class="small form-control">
                                                            <option value="0" >一级分类</option>
                                                            {volist name="allCategoryList" id="vo"}
                                                                {if condition="$vo.level eq 1"}
                                                                    {if condition="$vo['id'] eq $info['id']"}
                                                                        <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                                                                        {else/}
                                                                        <option value="{$vo.id}">{$vo.name}</option>
                                                                    {/if}
                                                                {/if}
                                                            {/volist}
                                                        </select>
                                                    {else/}
                                                        <select name="parent_id_1" class="small form-control">
                                                            <option value="0" >一级分类</option>
                                                            {volist name="allCategoryList" id="vo"}
                                                                {if condition="$vo.level eq 1"}
                                                                    {if condition="$vo['id'] eq $info['parent_id_1']"}
                                                                        <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                                                                    {else/}
                                                                        <option value="{$vo.id}">{$vo.name}</option>
                                                                    {/if}
                                                                {/if}
                                                            {/volist}
                                                        </select>
                                                        <select name="parent_id_2" class="small form-control">
                                                            <option value="0" >二级分类</option>
                                                            {volist name="allCategoryList" id="vo"}
                                                                {if condition="$vo.level eq 2"}
                                                                    {if condition="$vo['id'] eq $info['id']"}
                                                                        <option value="{$vo.id}" class="{$vo.parent_id_1}" selected="selected">{$vo.name}</option>
                                                                    {else/}
                                                                        <option value="{$vo.id}" class="{$vo.parent_id_1}">{$vo.name}</option>
                                                                    {/if}
                                                                {/if}
                                                            {/volist}
                                                        </select>
                                                    {/if}
                                                </div>
                                            </div>
                                        {/if}
                                        <div class="goods_c_item">
                                            <span class='goods_label_title' height=40 width="11%" align=right>分类名称：</span>
                                            <div class= width="89%" align=left>
                                                <input class=inputboxadmin name="name" value="">
                                            </div>
                                        </div>
                                        <div class="goods_c_item">
                                            <span class='goods_label_title' height=40 width="11%" align=right>分类说明：</span>
                                            <div class= width="89%" align=left>
                                                <textarea class="project_description" name="remark" ></textarea>
                                            </div>
                                        </div>
                                    <div class="goods_c_item">
                                        <span class='goods_label_title' height=40 width="11%" align=right>分类简介：</span>
                                        <div class= width="89%" align=left>
                                            <textarea class="project_description" name="intro" ></textarea>
                                        </div>

                                    </div>
                                    <div class="goods_c_item">
                                        <span class='goods_label_title' height=40 width="11%" align=right>分类标签：</span>
                                        <div class= width="89%" align=left>
                                            <textarea class="project_description" name="tag" >{$info.tag}</textarea>
                                        </div>
                                        多个标签请用逗号分隔，例如：正品保障,纳晶水光
                                    </div>
                                        <div class="goods_c_item">
                                            <span class='goods_label_title' height=40 width="11%" align=right>分类图片：</span>
                                            <div class="type_img_box" width="89%" >
                                                <input type="file" class="upload">
                                                <label class="uploadbtn" title="JPG,GIF,PNG"></label>
                                                <p class="showimg" id="showimg">图片上传大小请小于50k</p>
                                                <div class="upload_img_box">
                                                    <img  class="img" src="public_img/default/goods_default.png">
                                                    <input type="hidden" value="" name="img"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="goods_c_item">
                                            <span class='goods_label_title' height=40 width="11%" align=right>排序：</span>
                                            <div width="89%" align=left>
                                                <input class=inputboxadmin name="sort" value="{$info.sort}">
                                            </div>
                                        </div>
                                    {else /}<!-- 编辑本级 -->
                                        <input type="hidden" name="id" value="{$info.id}">
                                        {if condition="($info.level eq 2) or ($info.level eq 3)"}
                                            <div class="goods_c_item">
                                                <span class='goods_label_title' height=40 width="11%" align=right>所属分类：</span>
                                                <div width="89%" align=left>
                                                    {if condition="($info.level eq 2) or ($info.level eq 3)"}
                                                        <select name="parent_id_1" class="small form-control">
                                                            <option value="0" >一级分类</option>
                                                            {volist name="allCategoryList" id="vo"}
                                                                {if condition="$vo.level eq 1"}
                                                                    {if condition="$vo['id'] eq $info['parent_id_1']"}
                                                                        <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                                                                        {else/}
                                                                        <option value="{$vo.id}">{$vo.name}</option>
                                                                    {/if}
                                                                {/if}
                                                            {/volist}
                                                        </select>
                                                    {/if}
                                                    {if condition="($info.level eq 3)"}
                                                        <select name="parent_id_2" class="small form-control">
                                                            <option value="0" >二级分类</option>
                                                            {volist name="allCategoryList" id="vo"}
                                                                {if condition="$vo.level eq 2"}
                                                                    {if condition="$vo['id'] eq $info['parent_id_2']"}
                                                                        <option value="{$vo.id}" class="{$vo.parent_id_1}" selected="selected">{$vo.name}</option>
                                                                        {else/}
                                                                        <option value="{$vo.id}" class="{$vo.parent_id_1}">{$vo.name}</option>
                                                                    {/if}
                                                                {/if}
                                                            {/volist}
                                                        </select>
                                                    {/if}
                                                </div>
                                            </div>
                                        {/if}
                                        <div class="goods_c_item">
                                            <span class='goods_label_title' height=40 width="11%" align=right>分类名称：</span>
                                            <div class= width="89%" align=left>
                                                <input class=inputboxadmin name="name" value="{$info.name}">
                                            </div>
                                        </div>
                                        <div class="goods_c_item">
                                            <span class='goods_label_title' height=40 width="11%" align=right>分类说明：</span>
                                            <div class= width="89%" align=left>
                                                <textarea class="project_description" name="remark" >{$info.remark}</textarea>
                                            </div>
                                        </div>
                                    <div class="goods_c_item">
                                        <span class='goods_label_title' height=40 width="11%" align=right>分类简介：</span>
                                        <div class= width="89%" align=left>
                                            <textarea class="project_description" name="intro" >{$info.intro}</textarea>
                                        </div>

                                    </div>
                                    <div class="goods_c_item">
                                        <span class='goods_label_title' height=40 width="11%" align=right>分类标签：</span>
                                        <div class= width="89%" align=left>
                                            <textarea class="project_description" name="tag" >{$info.tag}</textarea>
                                        </div>
                                        多个标签请用逗号分隔，例如：正品保障,纳晶水光
                                    </div>
                                        <div class="goods_c_item">
                                            <span class='goods_label_title' height=40 width="11%" align=right>分类图片：</span>
                                            <div class="type_img_box" width="89%" >
                                                <input type="file" class="upload">
                                                <label class="uploadbtn" title="JPG,GIF,PNG"></label>
                                                <p class="showimg" id="showimg">图片上传大小请小于50k</p>
                                                <div class="upload_img_box">
                                                    {empty name="info.img"}
                                                    <img  class="img" src="public_img/default/goods_default.png">
                                                    {else /}
                                                    <img class="img" src="public_uploads/{$info.img}">
                                                    {/empty}
                                                    <input type="hidden" value="{$info.img}" name="img"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="goods_c_item">
                                            <span class='goods_label_title' height=40 width="11%" align=right>排序：</span>
                                            <div width="89%" align=left>
                                                <input class=inputboxadmin name="sort" value="{$info.sort}">
                                            </div>
                                        </div>
                                    {/eq}
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height=60 width="100%" align=center>
                            <input type="button" class="button_save_black_4" value="确定">
                            <input type="button" class="button_save_black" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 隐藏区 -->
    <div style="display:none">
        <select id="parent_id_2_tmp">
            <option value="0" >二级分类</option>
            {volist name="allCategoryList" id="vo"}
                {if condition="$vo.level eq 2"}
                    <option value="{$vo.id}" class="{$vo.parent_id_1}">{$vo.name}</option>
                {/if}
            {/volist}
        </select>
    </div>
{/block}
{block name="footer"}{/block}
{block name="script"}
    <script type="text/javascript">
        $(function(){
            //确定
            $(".button_save_black_4").click(function(){
                var postData = $('#form1').serializeObject();
                postData.level = 1;
                if(postData.parent_id_1){
                    postData.level = 2;
                }
                if(postData.parent_id_2){
                    postData.level = 3;
                }
                var url = controller + 'edit';
                $.post(url,postData,function(msg){
                    dialog.msg(msg,'',function () {
                        location.href= window.history.go(-1);
                    });
                });
            });

            //一级、二级-联动
            $('body').on('change','[name=parent_id_1]',function(){
                var parent_id_1 = $(this).val();
                var newOption = $('#parent_id_2_tmp').find('option[value=0],[class='+parent_id_1+']').clone();
                $('[name=parent_id_2]').html(newOption);
            });

            //返回
            $('.button_save_black').click(function () {
                location.href = controller + 'manage';
            });

            // 选择图片
            $('.upload').on('change',function(){
                var img = event.target.files[0];
                // 判断是否图片
                if(!img){
                    return false;
                }
                // 判断图片格式
                if(!(img.type.indexOf('image')==0 && img.type && /\.(?:jpg|png|gif|jpeg)$/.test(img.name)) ){
                    alert('图片只能是jpg,jpeg,gif,png');
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    $(".img").attr("src",e.target.result);
                    var postData = {fileBase64: e.target.result};
                    var url = controller + 'uploadFileToTemp';
                    //提交
                    $.post(url,postData,function(msg){
                        $(".img").attr("src",'/uploads/' + msg.info);
                        $("[name=img]").val(msg.info);
                    });
                }
            });
        });
    </script>
{/block}