{extend name="template/admin_pc/base.html" /}
{block name="content"}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <ul class="tab-base">
                <li><a href="{:url('manage')}" class="current"><span>管理</span></a></li>
                <li><a href="{:url('edit')}" ><span>编辑</span></a></li>
            </ul>
        </div>
    </div>
    <div class="fixed-empty"></div>
    <table class="table tb-type2" id="prompt">
        <tbody>
        <tr><td><ul><li class="friendly_tipc">
            <span>*</span>请注意：删除分类时，（1）如果分类存在子分类，也会把子分类删除，（2）如果分类存在商品，删除分类会有可能导致商品无法正常显示
        </li></ul></td></tr>
        </tbody>
    </table>
</div>
<div class="content" id="list">

</div>

{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="index_admin_js/goodsCategoryManage.js"></script>
<script type="text/javascript">

    $(function(){
        //加载第一页
        var config = {
            url:controller+'getList',
        };
        var getData = $('#form1').serializeObject();
        getData.pageType = 'manage';
        getPagingList(config,getData);

        //翻页
        $('body').on('click','.pager2',function(){
            var curIndex= $(this).parents('ul.pagination').find('li.active span').text();
            var selectedPage=$(this).data('page');
            if(selectedPage=='»'){
                curIndex++;
                selectedPage=curIndex;
            }
            if(selectedPage=='«'){
                curIndex--;
                selectedPage=curIndex;
            }
            config.currentPage = selectedPage;
            getPagingList(config,getData);
        });
    });
</script>
{/block}