{extend name="template/admin_pc/base.html" /}
{block name="footer"}{/block}
{block name="content"}
<!--模板-->
<section id="messageItemTpl" style="display:none;">
    <li><span class="create_time"></span></li>
    <li class="message_item others unread" data-id="">
        <div class="avatar">
            <img src="public_img/default/chat_head.jpg">
        </div>
        <div class="content">
            <p class="author"></p>
            <div class="msg"></div>
        </div>
    </li>
</section>
<section id="customItemTpl" style="display:none">
    <li class="custom_item" data-from_id="">
        <a href="javascript:void(0);" class="detele_chat">删除</a>
        <div class="avatar">
            <img src="public_img/default/chat_head.jpg">
            <span class="news_num"></span>
        </div>
        <div class="content">
            <p class="author"></p>
        </div>
    </li>
</section>
<!--模板-->
<section class="f24 chat_content"></section>
{/block}
{block name="script"}
<script type="text/javascript">
    function on_message_call_back(data) {
        //找到聊天列表标记
        var find_sign = false;
        $.each($('ul.message_list'),function(){
            var _this = $(this);
            //找到聊天列表
            if(_this.data('from_id')==data.from_id){
                find_sign = true;
                var messageItemTpl = $('#messageItemTpl');
                messageItemTpl.find('.msg').text(data.content);
                messageItemTpl.find('.author').text(data.from_name);
                messageItemTpl.find('li').attr('data-id',data.id);
                if(data.avatar){
                    messageItemTpl.find('img').attr('src',data.avatar);
                }
                //当前聊天框
                if(_this.hasClass('current')){
                    var postData = {};
                    postData.from_id = data.from_id;
                    postData.messageIds = [];
                    postData.messageIds.push(data.id);
                    var url = domain + 'index/CustomerService/setMessageRead';
                    $.ajax({
                        url: url,
                        data: postData,
                        type: 'post',
                        beforeSend: function(xhr){
                            $('.loading').show();
                        },
                        error:function(xhr){
                            $('.loading').hide();
                            dialog.error('AJAX错误');
                        },
                        success: function(data){
                            $('.loading').hide();
                            if(data.status==0){
                                dialog.error(data.info);
                            }else{
                                messageItemTpl.find('li').attr('class','others read');
                                $('.message_list.current').append(messageItemTpl.html());
                                //聊天框滚动条置底
                                messageSetBottom();
                            }
                        }
                    });
                }else{
                    //非当前聊天框
                    var num = _this.parents('li').find('span.news_num').text();
                    _this.parents('li').find('span.news_num').text(++num);
                    messageItemTpl.find('li').attr('class','others unread');
                    _this.append(messageItemTpl.html());
                }
            }
        });
        if(!find_sign){
            //未找到聊天列表，则追加一个
            var customItemTpl = $('#customItemTpl');
            customItemTpl.find('.author').text(data.from_name);
            customItemTpl.find('.msg').text(data.content);
            customItemTpl.find('.create_time').text(data.create_time);
            customItemTpl.find('ul').attr('data-from_id',data.from_id);
            customItemTpl.find('ul li').attr('data-id',data.id);
            if(data.avatar){
                messageItemTpl.find('img').attr('src',data.avatar);
            }
            $('ul.list').append(customItemTpl.html());
        }
    }
    //聊天框滚动条置底
	function messageSetBottom() {
		$('.message_list.current').scrollTop($('.message_list.current')[0].scrollHeight);
	}
</script>
<script type="text/javascript" src="public_js/web-socket.js"></script>
<script type="text/javascript">
    var loginSign = '{$loginSign|default=""}';
    $(function () {
        //页面初始化
        var config = {
            url: action,
            container:$('section.chat_content')
        };
        getList(config);
        //切换聊天对象
        $('body').on('click','.custom_item',function(){
            var _this=$(this);
            var customer_profile=_this.find('.head_img').attr('src');
            var customer_name=_this.find('.customer_name').text();
            var chatLayerContainer=_this.find('.chatLayerContainer');
            $('.chat_client').find('.head_img').attr('src',customer_profile);
            $('.chat_client').find('.customer_name').text(customer_name);
            _this.addClass('current').siblings().removeClass('current');
            $('.message_list').removeClass('current').eq(_this.index()).addClass('current');
            //聊天框滚动条置底
            messageSetBottom();
        });
        //设置信息已读
        function setMessageRead(obj){
            var postData = {};
            postData.from_id = obj.find('ul').data('from_id');
            postData.messageIds = [];
            $.each(obj.find('li.others.unread'),function(){
                postData.messageIds.push($(this).data('id'));
            });
            if(!postData.messageIds.length){
                return false;
            }
            var url = domain + 'index/CustomerService/setMessageRead';
            $.ajax({
                url: url,
                data: postData,
                type: 'post',
                beforeSend: function(xhr){
                    $('.loading').show();
                },
                error:function(xhr){
                    $('.loading').hide();
                    dialog.error('AJAX错误');
                },
                success: function(data){
                    $('.loading').hide();
                    if(data.status==0){
                        dialog.error(data.info);
                    }else{
                        obj.find('span.news_num').text('');
                        $('.chatLayer li.others.unread').removeClass('unread').addClass('read');
                    }
                }
            });
        }
        //发送聊天内容
        $('body').on('click','.send_btn',function(){
            var _this = $(this);
            var content = _this.prev().val();
            if(!content){
                dialog.error('不能发送空内容！');
                return false;
            }
            var _currentLi = $('ul.list').find('li.current');
            var to_user_id = _currentLi.find('ul').data('from_id');
            var postData = {to_user_id:to_user_id,content:content};
            var url = domain + 'index/CustomerService/sendMessage';
             $.ajax({
                 url: url,
                 data: postData,
                 type: 'post',
                 beforeSend: function(xhr){
                     $('.loading').show();
                 },
                 error:function(xhr){
                     $('.loading').hide();
                     dialog.error('AJAX错误');
                 },
                 success: function(data){
                     $('.loading').hide();
                     if(data.status==0){
                         dialog.error(data.info);
                     }else{
                         $('.chat_content').find('.message_list.current').append(data);
                         _this.prev().val('');
                         //聊天框滚动条置底
                         messageSetBottom();
                     }
                 }
             });
        });
        //删除
        $('body').on('click','.detele_chat',function(e){
            e.stopPropagation();
            var _thisLi=$(this).parent();
            var postData = {};
            postData.from_id = _thisLi.find('ul').data('from_id');
            postData.messageIds = [];
            $.each(_thisLi.find('li'),function(){
                postData.messageIds.push($(this).data('id'));
            });
            var url = domain + 'index/CustomerService/delCustomerMessage';
            $.ajax({
                url: url,
                data: postData,
                type: 'post',
                beforeSend: function(xhr){
                    $('.loading').show();
                },
                error:function(xhr){
                    $('.loading').hide();
                    dialog.error('AJAX错误');
                },
                success: function(data){
                    $('.loading').hide();
                    if(data.status==0){
                        dialog.error(data.info);
                    }else{
                        _thisLi.remove();
                    }
                }
            });
        });
        //搜索聊天客户
        $('body').on('click','.search_btn', function() {
            var searchText=$(this).next().val();
            if(!searchText){
                dialog.error('请输入名字搜索');
                return false;
            }
            $('.chat_left .chat_list').each(function(index,val){
                console.log(index);
                var _this=$(this);
                var name=_this.find('.customer_name').text();
                if(searchText==name){
                    _this.show().siblings().hide();
                    $('.list').find('.no_info').hide();
                    return false;
                }else{
                    _this.hide();
                    $('.list .no_info').remove();
                    $('.list').empty().append('<li class="no_info">暂无此人</li>');
                }
            });
        });
    });
</script>
{/block}