{notempty name='info'}
<ul class="clearfix message_list" data-from_id="{$info.from_id}">
	{volist name="info.messages" id="message"}
	<li><span class="create_time">{$message.create_time|date='Y-m-d H:i'}</span></li>
	<li class="message_item {$message.who}{if $message.read} read{else /} unread{/if}" data-id="{$message.id}">
		<div class="avatar">
			{empty name="message.avatar"}
			<img src="public_img/default/chat_head.jpg">
			{else /}
			<img src="public_uploads/{$message.avatar}">
			{/empty}
		</div>
		<div class="content">
			<div class="msg">{$message.content}</div>
		</div>
	</li>
	{/volist}
</ul>
{/notempty}