{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="nav">订单详情{/block}
{block name="content"}
<article class="scroll-wrapper f24">
    <section class="header_title separation-line">
        <a href="javascript:void(0);" class="back_prev_page async_login" data-jump_url="{:url('Mine/index')}"></a>
		<h2 class="f24">订单详情</h2>
	</section>
    <div class="order_wrapper">
        <div class="separation-line content-padding">
            <div>
                <span>订单号：</span>
                <input type="hidden" id="order_sn" value="{$info.sn}"/>
                <span>{$info.sn}</span>
            </div>
            <div>
                <span>下单时间：</span>
                <span>{$info.create_time}</span>
            </div>
            <div>
                <span>分类：</span>
                <span>购买商品</span>
            </div>
            <div>
                <span>状态：</span>
                {if $info.order_status == 1}
                <!--1:待付款-->
                <span>待付款</span>
                {elseif $info.order_status == 2 }
                <!--2:待收货-->
                <span>待收货</span>
                {elseif $info.order_status == 3 }
                <!--3:待评价-->
                <span>待评价</span>
                {elseif $info.order_status == 4 }
                <!--4:已完成-->
                <span>已完成</span>
                {elseif $info.order_status == 5 }
                <!--5:已取消-->
                <span>已取消</span>
                {elseif $info.order_status == 6}
                <!--6:售后-->
                <span>售后</span>
                {else /}

                {/if}

            </div>
            <div>
                <span>总价：</span>
                <span>￥<price>{$info.amount}</price></span>
            </div>
        </div>
        <div class="separation-line content-padding">
            <div>
                <span>下单用户：</span>
                <span>{$info.name}</span>
            </div>
            <div>
                <span>手机号码：</span>
                <span>{$info.mobile_phone}</span>
            </div>
            <div>
                <span>订单来源：</span>
                <span>维雅品牌定制</span>
            </div>
            <div>
                <span>支付金额：</span>
                <span>￥<price>{$info.actually_amount}</price></span>
            </div>
            <div>
                <span>支付方式：</span>
                <span>{$info.payment_code|getPaymentCode}</span>
            </div>
            <div>
                <span>支付备注：</span>
                <span>全额付清/预售定金</span>
            </div>
        </div>
        <div class="separation-line content-padding">
            <div>
                <span>发货方式：</span>
                <span>快件/物流</span>
            </div>
            <div>
                <span>收货人姓名：</span>
                <span>{$info.consignee}</span>
            </div>
            <div>
                <span>手机号码：</span>
                <span>{$info.mobile}</span>
            </div>
            <div>
                <span>收货地址：</span>
                <span>{$info.province}{$info.city}{$info.area}{$info.detail_address}</span>
            </div>
            <div>
                <span>备注：</span>
                <span>{$info.remark}</span>
            </div>
        </div>
        <div class="content-padding bottom_padding">
            <p class="content-label">维雅品牌定制</p>
            <ul>
                <li>
                    {volist name="info.goods_list" id="goods_info"}
                            <div class="columns_flex order_item" data-id="{$goods_info.goods_id}" data-buy_type="{$goods_info.buy_type}"
                                 data-brand_id="{$goods_info.brand_id}" data-brand_name="{$goods_info.brand_name}">
                                {empty name="goods_info.thumb_img"}
                                <div class="list_left_img">
                                    <img src="public_img/default/no_pic_100.jpg" class="left">
                                </div>
                                {else /}
                                <div class="list_left_img">
                                    <img src="public_uploads/{$goods_info.thumb_img}" class="left">
                                </div>
                                {/empty}
                                <div class="list_right">
                                    <p>{$goods_info.name}</p>
                                    <p>规格：<span>{$goods_info.specification}</span></p>
                                    <p>￥<price>{$goods_info.price}</price></p>
                                    <p>数量：X<span class="num">{$goods_info.num}</span></p>
                                    <div class="commodity_purchaser f24">
                                        {if $goods_info.buy_type == 1}
                                        <div>购买类型：<span>批量</span></div>
                                        {elseif $goods_info.buy_type == 2}
                                        <div>购买类型：<span>样品</span></div>
                                        {else /}
                                        {/if}
                                    </div>
                                </div>
                            </div>
                    {/volist}
                    <a href="javascript:void(0);" class=" purchase_again bottom_btn"><span class="s_i"></span>再次购买</a>
                </li>
            </ul>
        </div>
    </div>
</article>
{/block}
{block name="footer"}

{/block}

{block name="script"}
<script src="public_js/jquery.area.js"></script>
<script type="text/javascript" src="index_js/footerCart.js"></script>
{/block}