{notempty name="list"}
{volist name="list" id="info"}
    <li data-id="{$info.id}" data-order_sn="{$info.sn}">
            <a href="{:url('order/detail',['order_sn'=>$info.sn])}">
                {volist name="info.goods_list" id="goods_info"}
                <div class="order_item" data-id="{$goods_info.goods_id}" data-buy_type="{$goods_info.buy_type}"
                     data-brand_id="{$goods_info.brand_id}"  data-brand_name="{$goods_info.brand_name}"  >
                        {empty name="goods_info.thumb_img"}
                        <img src="public_img/default/no_pic_100.jpg" class="left">
                        {else /}
                        <img src="public_uploads/{$goods_info.thumb_img}" class="left">
                        {/empty}
                    <div class="order_top_r">
                        <p>{$goods_info.name}</p>
                        <p>￥<price>{$goods_info.price}</price></p>
                        <p>X<span class="num">{$goods_info.num}</span></p>
                        <div class="commodity_purchaser f24">
                            {if $goods_info.buy_type == 1}
                            <div>购买类型：<span>批量</span></div>
                            {elseif $goods_info.buy_type == 2}
                            <div>购买类型：<span>样品</span></div>
                            {else /}
                            {/if}
                        </div>
                    </div>
                </div>
                {/volist}
            </a>
            <div class="order_bottom">
                <p>共<span>{$info.goods_num}</span>件商品 需付款:<span class="red">￥<price>{$info.amount}</price></span></p>
                <p class="order_operate_btn">
                    {if $info.order_status == 1}
                    <!--1:待付款-->
                    <a href="javascript:void(0);" class="cancel_order">取消订单</a>
                    <a href="{:url('Order/toPay',['order_sn'=>$info.sn])}">去支付</a>
                    {elseif $info.order_status == 2 }
                    <!--2:待收货-->
                    <a href="javascript:void(0);" class="confirm_receive">确认收货</a>
                    {elseif $info.order_status == 3 }
                    <!--3:待评价-->
                    <a href="javascript:void(0);" class="apply_after_sales">申请售后</a>
                    <a href="javascript:void(0);" class="to_evaluate">评价</a>
                    {elseif $info.order_status == 4 }
                    <!--4:已完成-->
                    <a href="javascript:void(0);" class="see_evaluation">查看评价</a>
                    <a href="javascript:void(0);" class="purchase_again">再次购买</a>
                    {elseif $info.order_status == 5 }
                    <span class="">已取消</span>
                    {elseif $info.order_status == 6}
                    售后待处理
                    {else /}

                    {/if}
                </p>
            </div>
    </li>
{/volist}
{else /}
{if $currentPage ==1}
<li class="no_data">
    <img src="public_img/no-order.png" alt="">
</li>
{/if}
{/notempty}