{notempty name="list"}
{volist name="list" id="info"}
<li data-id="$info.id">
    <div class="order_top">
        <img src="public_img/default/no_pic_100.jpg" alt="" class="left">
        <div class="order_top_r">
            <p>美肤美肤美肤美肤美肤美肤</p>
            <p>￥<price>500.00</price></p>
            <p>X<span>1</span></p>
        </div>
    </div>
    <div class="order_bottom">
        <p>共<span>1</span>件商品 需付款:<span class="red">￥<price>500.00</price></span></p>
        <p class="order_operate_btn">
            <a>取消订单</a>
            <a>去支付</a>
        </p>
    </div>
</li>
{/volist}
{/notempty}