{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="store_css/main.css">
{/block}
{block name="content"}
<p>支付方式</p>
<div>
    <ul class="pay_nav">
        <li data-paycode="1">微信支付</li>
        <li data-paycode="2">支付宝支付</li>
        <li data-paycode="3">银联支付</li>
    </ul>
</div>
<form action="{:url('Payment/orderPayment')}" method="post">
    <input type="hidden" name="order_sn" value="{$orderInfo.sn}"/>
    <input type="hidden" name="pay_code" value="" class="pay_code"/>
    <input type="submit" value="支付" />
</form>
{/block}
{block name="common"}

{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){
        $('.pay_nav li').on('click',function(){
            $(this).addClass('current').siblings().removeClass('current');
            var pay_code = $(this).data('paycode');
            $('.pay_code').val(pay_code);
        })
    });
</script>
{/block}