{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<!--转账凭证弹窗-->
<section class="bank_transfer_tpl" style="display:none;">
    <form id="bankTransfer">
        <div class="upload-picture-module f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg" >
					<img class="upload_img" src="" alt="">
					<input type="hidden" name="voucher" class="img" data-src="" value=""/>
				</div>
			</div>
		</div>
        <p>上传转账汇款凭证(截屏或拍照)，以便通知客服人员及时进行账户人工充值，以免影响采购结算</p>
        <a href="javascript:;" class="entry_btn">确定</a>
    </form>
</section>
<article class="f24 pay_wrapper">
    <section class="header_title separation-line">
        <a href="javascript:void(0);" class="back_prev_page"></a>
		<h2 class="f24">结算支付</h2>
	</section>
    <section class="pay_amount_item content-padding">
        <div>订单金额：<span class="red">￥<price>{$orderInfo.amount}</price></span></div>
    </section>
    <section class="content-padding ">
        <p class="content-label">选择支付方式</p>
        <div>
            <ul class="pay_nav">
                <li data-paycode="1">
                    微信支付
                    <!--<input type="checkbox" checked="checked" class=""/>-->
                    <span class="selected"></span>
                    <span class="wx"></span>
                </li>
                <li data-paycode="2" id="alipay">
                    支付宝支付
                    <!--<input type="checkbox" class=""/>-->
                    <span class="selected"></span>
                    <span class="wx"></span>
                </li>
                <!--<li data-paycode="3">银联支付-->
                    <!--&lt;!&ndash;<input type="checkbox" class=""/>&ndash;&gt;-->
                    <!--<span class="selected"></span>-->
                    <!--<span class="wx"></span>-->
                <!--</li>-->
                {if $walletInfo.amount >= $orderInfo.amount}
                <li data-paycode="4" >
                {else /}
                <li data-paycode="4" class="disabled">
                {/if}
                    钱包支付
                    <!--<input type="checkbox" checked="checked" class=""/>-->
                    <span class="selected"></span>
                    {notempty name="walletInfo"}
                    <span class="wx">余额：￥<price>{$walletInfo.amount}</price></span>
                    {else /}
                    <span class="wx">余额：￥<price>0.00</price></span>
                    {/notempty}

                </li>
            </ul>
        </div>
        <p>*线下银行转账/现金支付需将证据拍照上传</p>
        <a href="javascript:;" class="bank_transfer right-arrow ">银行转账支付后将凭证拍照发给平台客服</a>
        <form action="{:url('Payment/orderPayment')}" method="post" class="pay_form" id="pay_info">
            <input type="hidden" name="order_sn" value="{$orderInfo.sn}"/>
            <input type="hidden" name="pay_code" value="" class="pay_code"/>
            <input type="hidden" name="system_id" value="{$system_id}" class="system_id"/>
            <input type="submit" value="立即支付" class="pay_btn"/>
        </form>
    </section>
</article>
{/block}
{block name="common"}
{include file="template/wallet_pay_dialog.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/wallet.js"></script>
<script type="text/javascript" src="public_js/uploadImgToTemp.js"></script>
<script type="text/javascript">
    $(function(){
        //如果是微信浏览器
        if(isWeiXin()){
            $('#alipay').remove();
        }
        $('.pay_nav li').on('click',function(){
            $(this).addClass('current').siblings().removeClass('current');
            var pay_code = $(this).data('paycode');
            $(this).find('input[type="checkbox"]').prop('checked',true);
            $('.pay_code').val(pay_code);
        });

        $('body').on('click','.pay_btn',function () {
            var pay_code = $('input[name=pay_code]').val();
            if(!pay_code){
                dialog.error('请选择支付方式');
                return false;
            }
            if(pay_code == 4){
                walletPayCallBack = orderPayment;
                walletPayCallBackParameter = $('#pay_info').serializeObject();
                walletPayDialog();
                return false
            }
        });

        $('body').on('click','.forget_wallet_password',function () {
            forgetWalletPasswordDialog()
        });
        //转账凭证
        var banksTransferTpl=$('.bank_transfer_tpl').html();
        $('body').on('click','.bank_transfer',function () {
            layer.open({
                title:['转账凭证','border-bottom:1px solid #d9d9d9;'],
                type:1,
                anim:'up',
                className:'bankTransferLayer',
                content:banksTransferTpl
            })
        });
        $('body').on('click','.entry_btn',function () {
            var postData={};
            var voucher=$('.bankTransferLayer').find('.img').val();
            postData.voucher=voucher;
            var content='';
            console.log(voucher);
            if(!postData.voucher){
                content='请上传转账凭证';
            }
            if(content){
                dialog.error(content);
                return false;
            }
            var url =  module + 'Mine/index';
            location.href = url;
        });
    });
</script>
{/block}