{extend name="template/admin_pc/base.html" /}
{block name="content"}
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:url('manage')}" ><span>管理</span></a></li>
                    <li><a href="{:url('edit')}" class="current"><span>编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div style="margin-top:15px;">
            <form id="form1">
                <input type="hidden" name="id" value="{$info.id}">
                <table id=table18 class="add_new_merchandise" border=0 cellspacing=1 width="100%" height=57>
                    <tbody>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>资讯标题：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <div class= width="89%" align=left>
                                <textarea class="project_description" name="headline" >{$info.headline}</textarea>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>资讯内容:</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <!-- 加载编辑器的容器 -->
                            <script id="content" type="text/plain">

                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>资讯图片:</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <!-- 加载编辑器的容器 -->
                            <script id="main_img" type="text/plain">

                            </script>
                            <input id="mainImg" type="hidden" value="{$info.main_img|formatImg}">
                        </td>
                    </tr>
                    <tr>
                        <td width="11%"></td>
                        <td height=60 width="50%" align=center>
                            <a href='javascript:void(0);'><input class="button_save_black_4" value="确定" type="button"></a>
                            &nbsp;&nbsp;
                            <input class="button_save_black" name="add0" value="返回" type="button">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{/block}

{block name="script"}
<!-- 配置文件 -->
<script type="text/javascript" src="hui_lib/Ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="hui_lib/Ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="hui_lib/Ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="https://cdn.bootcss.com/html5media/1.1.8/html5media.min.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var main_img_obj = UE.getEditor('main_img');
    var content_obj = UE.getEditor('content');
</script>
    <script type="text/javascript">
        $(function(){
            console.log(main_img);
            console.log(content_obj);
            var content = '{$info.content|raw}';
            //商品参数
            if(content){
                content_obj.ready(function() {
                    content_obj.setContent(content);
                });
            }
            //项目主图
            main_img_obj.ready(function() {
                main_img_obj.setContent($('#mainImg').val());
            });
            //确定
            $('.button_save_black_4').on('click',function(){
                var postData = $('#form1').serializeObject();
                postData.content = content_obj.getContent();
                //主图
                postData.main_img = '';
                $.each($('#main_img').find('iframe').contents().find('.view img'),function(){
                    postData.main_img += $(this).attr('src') + ',';

                });
                var url = module +'Information/edit';
                $.post(url,postData,function(msg){
                    dialog.msg(msg,'',function () {
                        location.href = controller + 'manage';
                    });
                });
            });
            // 选择单图片
            $('body').on('change','.uploadSingleImg',function () {
                var _this=$(this);
                uploadsSingleImgFlag = false;
                var img = event.target.files[0];
                var uploadfileSize=img.size/1024/1024;
                var obj=$(this).parent();
                // 判断是否图片
                if(!img){
                    return false;
                }
                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    dialog.error('请上传：jpg、jpeg、png、gif格式图片');
                    return false;
                }
                if(uploadfileSize>1){
                    dialog.error('图片大小不能超过1M');
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).addClass('active');
                    var postData = {fileBase64: e.target.result};
                    // postData.imgWidth = 145;
                    // postData.imgHeight = 100;
                    $(obj).find('img').attr('src',imgUrl);
                    var type = _this.data('type');
                    if(type == 'notupload'){
                        $(obj).find('.img').val(imgUrl);
                        console.log(1);
                        return false;
                    }
                    //提交
                    $.post(controller+"uploadFileToTemp",postData,function(msg){
                        if(msg.status == 1){
                            uploadsSingleImgFlag = true;
                            $(obj).find('.img').val(msg.info);
                        }else{
                            dialog.error(msg.info)
                        }
                    })
                }
            });
            //返回
            $('.button_save_black').click(function(){
                location.href = controller + '/manage';
            });

        });
    </script>
{/block}